<ion-view  class="view-seccion fast " hide-nav-bar="false" can-swipe-back="false">
<div data-tap-diabled="true">
	
    <ui-gmap-google-map class="animate-enter-mapa fast" control="map" center='map.center' zoom='map.zoom' style="height: 100vh; width:100vw" options='map.options' pan='true' events="map.events" ng-cloak>
    <!--ui-gmap-rectangle bounds='map.bounds' fill="'#FFFFFF .5'"><ui-gmap-rectangle-->
        <ui-gmap-circle center='radio.center' radius='radio.radio' fill='radio.fill'   stroke='radio.stroke' visible='radio.activo && radio.visible' events="radio.events"></ui-gmap-circle>
    
    <!--ui-gmap-marker idKey='2' coords='map.auto.position' ng-hide="!map.auto.visible" options="map.auto.options" icon="content" events="map.auto.events" >
	</ui-gmap-marker-->
    <ui-gmap-markers  models='eventos' coords="'self'" icon="'icono'" options="'options'" type="'cluster'" typeOptions ="cluster" typeEvents='cluster.events' >
    </ui-gmap-markers>
    <ui-gmap-marker idKey='0' style="opacity:1 !important" coords='ubicacion.position' options="ubicacion.options" icon="'icon'" events="ubicacion.events" index="1000" >
	</ui-gmap-marker>
    <ui-gmap-map-control template='templates/controls.html' position="right-top" index="-1" controller="controls"></ui-gmap-map-control>
    
    <ui-gmap-map-control template='templates/controls/top-center.html' position="top-center" controller="top-center" index="5"></ui-gmap-map-control>
    <ui-gmap-map-control template='templates/controls/bottom-center.html' position="bottom-center"   controller="bottom-center" index="5"></ui-gmap-map-control>
    </ui-gmap-google-map>
    </div>
    <div class="mapa-descripcion-evento ng-hide" ng-show="showInfo">
    <div class="mapa-descripcion-evento-cover"></div>
    <div class="mapa-descripcion-evento-contenedor">
    	<button class="mapa-descripcion-evento-icono">
    		<img ng-src="img/iconos/mapa/marcadores/{{selectedMarker.asunto}}.png" height="100%">
        </button>
        <button class="mapa-descripcion-evento-close">
        	<i class="icon ion-chevron-down" ></i>
        </button>
        <div class="mapa-descripcion-evento-titulo" ng-hide="cargandoInfo || error">{{idioma.Asuntos[selectedMarker.asunto]}}</div>
        <div class="mapa-descripcion-evento-subtitulo" ng-hide="cargandoInfo || error">{{selectedMarker.info | subtituloInfo:this}}</div>
        <div class="mapa-descripcion-evento-texto" ng-hide="cargandoInfo || error">{{idioma.Info[1]}}{{selectedMarker.info.Fecha | fechaInfo:this}}</div>
        <div class="mapa-descripcion-evento-texto" ng-hide="cargandoInfo || error">{{idioma.Info[2]}}{{selectedMarker.info.Hora}}</div>
        <div class="mapa-descripcion-evento-texto"  ng-hide="cargandoInfo || error">{{idioma.Info[3]}}{{selectedMarker.info | direccion:this }}</div>
        <div style="text-align:center" ng-hide="!cargandoInfo">
       		<ion-spinner icon="ripple"></ion-spinner>
        	<div class="mapa-descripcion-evento-texto" style="text-align:center">cargando...</div>
        </div>
        <div ng-show="error">
       		<div class="mapa-descripcion-evento-texto" style="text-align:center">{{idioma.Info[4]}}</div>
       	</div>
    </div>
    </div>
</ion-view>
