<ion-view  class="view-seccion" hide-nav-bar="false" >
<div data-tap-diabled="true">
    <ui-gmap-google-map class="animate-enter-mapa" control="map" center='map.center' zoom='map.zoom' style="height: 100vh; width:100vw" options='map.options' pan='true'>
        <ui-gmap-circle center='map.radio.center' radius='map.radio.radius' fill='map.radio.fill'   stroke='map.radio.stroke' visible='map.radio.activo && map.radio.visible' draggable="map.ubicacion.options.draggable" events="map.radio.events"></ui-gmap-circle>
    <ui-gmap-marker idKey='1' coords='map.ubicacion.position' ng-hide="!map.ubicacion.visible" options="map.ubicacion.options" icon="icon" events="map.ubicacion.events" >
	</ui-gmap-marker>
    <ui-gmap-map-control template='templates/controls/top-right.html' position="right-top" index="5" controller="top-right"></ui-gmap-map-control>
    <ui-gmap-map-control template='templates/controls/top-left.html' position="left-top"   index="5"></ui-gmap-map-control>
    <ui-gmap-map-control template='templates/controls/bottom-center.html' position="bottom-center"   controller="bottom-center" index="5"></ui-gmap-map-control>
    </ui-gmap-google-map>
    </div>
</ion-view>