 <ion-header-bar class="bar-stable">
      <div class="menu-header-img-content"> <img src="img/avatar.png" height="100%"></div>
      <button class="menu-header-title">{{Usuario.Correo | firstMayus}}</button>
      <button class="menu-header-subtitle">{{idioma.Menu[1]+" "+Usuario.Suscripcion | firstMayus}}</button>
    </ion-header-bar>
    <ion-content class="menu-content" has-bouncing="false">
      <ion-list can-swipe="false">
        <ion-item  class="item-icon-left menu-list-item">
        <i class="icon ion-person menu-list-item-icon"></i>
          Ajustes de cuenta
        </ion-item>
        <ion-item  class="item-icon-left menu-list-item">
        <i class="icon ion-chatbox-working menu-list-item-icon"></i>
          Ajustes de notificaciones
        </ion-item>
        <ion-item  class="item-icon-left menu-list-item">
        <i class="icon ion-images menu-list-item-icon"></i>
          Iconos
        </ion-item>
        <ion-item  class="item-icon-left menu-list-item">
        <i class="icon ion-help-circled menu-list-item-icon"></i>
          Ayuda
        </ion-item>
        <ion-item  class="item-icon-left menu-list-item">
        <i class="icon ion-information-circled menu-list-item-icon"></i>
          Acerca de
        </ion-item>
        <ion-item  class="item-icon-left menu-list-item" ng-click="cerrarSesion()">
        <i class="icon ion-power menu-list-item-icon"></i>
          Cerrar sesión
        </ion-item>
      </ion-list>
    </ion-content>