.placeMarker{
 width:40px;
 height:51px;
 background:url(../img/marcadores/place.png);
 background-size:cover;
 background-position:center;
position:relative;
}
.contIconMarker{
	width:40px;
	height:40px;
	position:relative;
}
.iconMarker{
	width:23px;
	height:23px;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	position:absolute;
	opacity: 1;
	background-color: #e2e2e2;
	-webkit-mask-size: cover;
}