@charset "utf-8";
/* CSS DocumentIPHONES */


/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 

}
/*iphone 6+*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { 

}
/*ipad*/
@media (min-width: 767px){
    #infobox {
        font-size:2.3vh;
        line-height:2.5vh;
    }
    .nota_infobox{
        font-size:1.5vh;
        line-height:1.8vh;
    }
    .cerrar_info{
        height:3vh !important;
        width:3vh !important;
    }
	.texto_cuenta{
	font-size:2vh !important;
	
	}
}
@media (orientation: landscape) {
	
	
	
	
	
	
	
	
	
	
	
	
	













}
