.especial:before{
	font-size:9vh !important;
	  font-weight: 600;
 	 opacity: 0.6;
  	margin-left: -3vh;
}
.bar-dark{
	overflow:hidden;
	height: 8vh !important;
	padding:0px !important;
	border: none;
}
.logo_barra{
	/* margin: auto !important; */
	margin-top:0.5vh !important;
	height:7vh !important;
	right: 50vw !important;
	left: 4vh !important; 
	position: absolute !important;
	width: 18vh !important;
}
.buttons{
	margin:0px !important;
}
.tabs-dark{
	top: 0px!important;
  height: 100%!important;
  position: absolute!important;
  right: 1vh!important;
  width: 100%!important;
  border:none !important;
}
.tab-nav{
top: 0px!important;
  height: 100%!important;
  border:none !important;
}
.tab-item{
	padding:1vh;
	position:relative;
	border:none !important;
	vertical-align: middle;
}
.img-boton{
	  position: absolute;
  
  
	  width: 9vw;
  
	  left: 1vh;
	  height: 9vw;
	  max-height: 6vh;
	  top: 0px;
  
	  max-width: 6vh;
	  bottom: 0px;
  margin: auto;
	  vertical-align: initial;
}
.tabs-contenedor{
	position: absolute !important;  
	right: 0px !important;  
	left: 50vw !important; 
	top:0px !important; 
	height:100% !important; 
	margin:0px !important; 
	padding:0px !important;
}
.contenido_menu_inicio{
	top: 0vh !important;
	  
	position: absolute;
	background: rgba(30, 30, 30, 1) !important;
}
.item_menu_inicio{
	background: none !important;
	border-color: #262525 !important;
}
.input_home{
	padding: 0px;
	background: none;
	overflow: hidden;
}
.smultiple{
	height: 40px !important;
  border: none !important;
  color: #A1A1A1!important;
  font-size: 2.5vh!important;
  font-stretch:condensed!important;
}
.home_ajustes_hidepart{
	width: 100%;
	background: #272727;
	overflow:hidden;
}

.titulo_menu{
    color: #C9C9C9;
    margin: 0px !important;
  text-align: left !important;
  margin-left: 2vw !important;
  font-size: 2.5vh !important;
  height: 3.5vh !important;
  position: relative !important;
  float: left;
  
    width: 200%;
  
    margin-top: 2vh !important;
  line-height: normal !important;
  font-weight: 300;
}
#capa_menu{
	z-index: 1000;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background: rgba(0,0,0,0.7);
	opacity:0;
}
.spinner svg {
  stroke: #959595;
  fill: #959595;
}
.eliminar_persona{
	  position: absolute;
  right: 3px;
  
	  width: 4vh;
  
	  height: 4vh;
  color: #fff;
  
	  border: none;
  border-radius: 100%;
  text-align: center;
  opacity: 0.4;
  cursor:pointer;        
	  padding: 0px !important;
	  margin: 0px !important;
}
.popover-wrapper{
position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
}
.btn_mapa_flotante{
	  position: absolute;
  width: 5vh;
  height: 5vh;
  top: 9vh;
  right: 1vh;
	  background: rgba(3,3,3,0.8);
  border: none;
	  margin: 0px;
	  padding: 0px;
}
.rnumero{
	  width: 6vh;
  height: 6vh;
  text-align: center;
  font-size: 4vh;
  border-radius: 100%;
  border: solid 2px #0D0D0D;
  padding: 0px;
  font-weight: 700;
  
	  background: #0F0F0F;
  color: rgba(255, 255, 255, 0.22);
	  position:absolute;
}
.ractivo{
	  background: #909090;
  		color: #181616;
}
.input_registro{
      width: 100%;
  background: rgba(83, 83, 83, 0.5);
  border: none;
  
      margin-top: 2vh;
  
      padding: 5px;
  
      /* height: 4vh !important; */
      /* font-size: 2.5vh !important; */
      color: #BABABA !important;
      padding-top: 5px !important;
      line-height: initial !important;
      border-radius: 0px;
}
.input_registro::-webkit-input-placeholder { /* WebKit browsers */
    color:    #858585;
}
.input_registro:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #858585;
}
.input_registro::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #858585;
}
.input_registro:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #858585;
}
.perfil_cover{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    left:0vw;
    z-index: 1;
    margin: auto;
    text-align: center;
	padding-top:50%;
}
 #perfil_cover{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    left:0vw;
    z-index: 1;
    margin: auto;
    text-align: center;
	padding-top:50%;
}
.notificacion5, .notificacion6{
    text-transform: initial !important;
}
.gmnoprint, .gm-style-cc{
    opacity: 0 !important;
}
.submenu{
	font-size: 2vh;  
	padding-top: 1vh;
	padding-bottom: 1vh;
	background: rgba(255, 255, 255, 0.04);
	color: #DBDBDB;
	font-weight: 100;
}
.finact{
	color: #686868;
}
.fact{
	color: #ce932f;
}
.btn_act{
	  width: 50%;
  background: #484848;
  border: none;
  color: #ce932f;
  font-size: 2vh;
  margin: 0px;
  padding: 0px;
	  float: left;
}
.fechaMenu{
    position: absolute;    width: 100%;    
    height: 100% !important;    
    background: none;    
    top: 0px;
    z-index: 20;
    bottom: 0px;
    color: rgba(0,0,0,0) !important;
    opacity: 0;
}
.modal-backdrop{
	background-color:transparent !important;
}
.tituloModal{
	height: 3vh !important;
  font-size: 3vh !important;
  line-height: inherit !important;
  position: absolute !important;
  top: 0px !important;
  bottom: 0px !important;
  margin: auto !important;
  width: 100% !important;
  }
  .popupActivo{
    height: 100%;
}

.popupActivo > .popup { 
  width: 90vw;
  /* height: 90vh; */
}
.infobox-wrapper {
    display:none;
   
}
#infobox {
    margin-bottom: 0px;
    background:#EDEDED;
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:3.3vh;
    line-height:3.5vh;
    text-align:center;
    padding: 2vh;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}
#infoboxEvento {
    margin-bottom: 0px;
    background:#fff;
    color:#000;
    padding: 1vh;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

/*.popupActivo > .popup > .popup-buttons {
position: absolute !important;
  bottom: 0px;
  width: 100%;
	}
/*@media (max-width: 500px){
.logo_barra{
	width:3.2vh !important;
}	
}
@media all and (orientation:landscape) {
	.bar-dark{
	height:12vh !important;
}
.especial:before{
	font-size:13vh !important;
}
.logo_barra{
	height:11vh !important;
}
.tabs-contenedor{
	  left: 75vw !important;
}
.contenido_menu_inicio{
	top:12vh;
}
}*/