@charset "utf-8";
/* NORMAL*/
.reportes-agrega-reporte{
	position: absolute;
    bottom: 2vh;
    right: 2vh;
    width: 9vh;
    height: 9vh;
    border-radius: 100% !important;
    background: #D0CFCF;
    font-size: 5vh;
    color: #242424;
	min-width: 9vh;
    min-height: 9vh;
    max-width: 9vh;
    max-height: 9vh;
	padding: 0px !important;
    text-align: center;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.52);
	opacity:0.9;
}
ion-modal-view.reportes ion-content{   
	background: #252424
}
ion-modal-view.reportes ion-content .google-mapa{    
	position: relative;
    float: left;
    width: 100%;
    height: 24vh;
}
ion-modal-view.reportes ion-content .mapa-contenedor{
	position: relative;
    float: left;
    width: 100%;
    height: 30vh;
}

ion-modal-view.reportes ion-content div.select>input{
	    padding: 0px;
    margin: 0px;
    width: 100%;
    background: none;
    height: 100%;
    font-size: 3vh;
    font-weight: 100;
    line-height: 3.2vh !important;
	color:#D2D2D2;
}
ion-modal-view.reportes ion-content div.select{
width: 100%;
    background: rgba(255, 255, 255, 0.09);
    color: #B9B9B9;
    padding-left: 3vh;
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: auto;
    padding-right: 8vh;
    font-weight: 300;
    line-height: initial !important;
    height: 6vh;
	    position: relative;
    float: left;
    margin-bottom: 0.5vh;
}
ion-modal-view.reportes ion-content div.select>span{
	position: absolute;
    right: 2vh;
    font-size: 3vh;
    height: 3vh;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
ion-modal-view.reportes ion-content div.select>i{
	    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 3vh;
    font-size: 3vh;
    height: 3.5vh;
    color: #A2A2A2;
    margin: auto;
}
ion-modal-view.reportes ion-content ion-content.lista-reportes-lugares{
	position: relative;
    float: left;
    width: 100%;
    max-height: 30vh;
}
ion-modal-view.reportes ion-content ion-content.lista-reportes-lugares .mapa-search-resultados-item{
	    padding-right: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 7vh;
    background: rgba(255, 255, 255, 0.03);
    border-bottom: solid 1px #383838;
}
ion-modal-view.reportes ion-content ion-content.lista-reportes-lugares .mapa-search-resultados-item>img{
	    width: 5vh;
    right: calc(100vw - 7vh);
}
ion-modal-view.reportes ion-content ion-content.lista-reportes-lugares .mapa-search-resultados-item>h2{
	    font-size: 2.8vh;
    color: #E2E2E2;
    font-weight: 300;
}
ion-modal-view.reportes ion-content ion-content.lista-reportes-lugares .mapa-search-resultados-item>p{
	    color: #BABABA;
}
ion-modal-view.reportes .barra-opciones{
	position: relative;
    float: left;
    width: 100vw;
    height: 7vh;
    left: 0px;
    background: none;
    bottom: 0px;
}
ion-modal-view.reportes .barra-opciones>button{
    position: relative;
    float: left;
    width: 33.3%;
    height: 100%;
    font-size: 4vh;
    max-height: 100vh;
    border-left: solid 1px #202020 !important;
    color: #D6D6D6;
	border-bottom:solid 1px #202020 !important;
}
ion-modal-view.reportes .barra-opciones>button:first-of-type{
	border-left:none !important;
}
.reportes-agrega-reporte>div {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    background: #242424;
    -webkit-mask-position: center;
    -webkit-mask-size: 70%;
    -webkit-mask-repeat: no-repeat;
}
ion-view .reporte-titulo{
	text-align: center;
    padding: 2vh;
    background: #DBDBDB;
    font-size: 2.5vh;
	margin-bottom: 2px;
    line-height: initial;
}
.reporte-item-contenido{
	padding-left: 13vh !important;
    padding-top: 17vh;
    padding-bottom: 1vh;
    min-height: 0px !important;
    border-bottom: solid 2px rgb(32, 32, 32) !important;
    padding-right: 6vh !important;
	margin: 0px;
}
.reporte-item-contenido::after{
	content: "";
    position: absolute;
    width: 100%;
    background: #171717;
    top: 16vh;
    z-index: -1;
    left: 0px;
    bottom: 0px;
}
.reporte-item-contenido > img{
	width: auto !important;
    height: 10vh !important;
    min-width: 0px;
    min-height: 0px;
    max-width: 100vh !important;
    max-height: 100vh !important;
    position: absolute !important;
    top: 11vh;
    margin-left: auto;
    margin-right: auto;
    left: 0px !important;
    right: calc( 100vw - 13vh) !important;
    border-radius: 0px !important;
}
.reporte-item-contenido > div.mapa-estatico{
	position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0px;
    width: 100%;
    height: 16vh;
    max-width: 100vw;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
	z-index: -1;
}
.reporte-item-contenido > div.mapa-estatico:after{
	/*content: "";
    position: absolute;
    width: 100%;
    height: 9vh;
    background: #171717;
    bottom: 0px;*/
}

.reporte-item-contenido > h2{
	    color: #E8E8E8;
    font-size: 2.8vh;
	height: auto;
	    font-weight: 300;
    line-height: initial;
}
.reporte-item-contenido > p{
	    white-space: initial;
    color: #B1B7B8;
    font-size: 2.4vh;
	    font-weight: 300;
		    height: auto;
    line-height: initial;
}

.reporte-item-contenido > i{
	    color: #A1A1A1;
    position: absolute;
    font-size: 5vh !important;
    height: 5vh !important;
    width: 3vh;
    top: 16vh !important;
    bottom: 0px !important;
    margin: auto;
    right: 0px !important;
    left: calc(100vw - 6vh) !important;
}
.reporte-item-fecha{
	    position: absolute;
    font-size: 2.5vh !important;
    line-height: 2.5vh;
    text-align: right;
    top: 0vh;
    right: 0vh;
    padding: 1vh;
    color: #333 !important;
    font-weight: 700 !important;
    background: rgba(245, 245, 245, 0.67);
    border-radius: 0px 0px 0px 5px;
	
}
.lista-reportes > div {
	padding-bottom: 10vh;
}
.popup-container.select-hora>.popup{
	    border-radius: 0px;
}
/* LANDSCAPE*/
@media (orientation: landscape) {
	.reportes-agrega-reporte{
    bottom: 2vw;
    right: 2vw;
    width: 9vw;
    height: 9vw;
    font-size: 5vw;
	    min-width: 9vw;
    min-height: 9vw;
    max-width: 9vw;
    max-height: 9vw;
}
ion-view .reporte-titulo {
    padding: 2vw;
    font-size: 2.5vw;
}
.reporte-item-contenido > div.mapa-estatico {
    
    height: 16vw;
}
.reporte-item-contenido > img {
	
    height: 10vw !important;
    max-width: 100vw !important;
    max-height: 100vw !important;
    top: 11vw;
    right: 87vw !important;
	}
	.reporte-item-contenido{
		padding-left: 13vw !important;
    padding-top: 17vw;
    padding-bottom: 1vw;
    padding-right: 6vw !important;
	margin: 0px;
	}
	.reporte-item-contenido::after{
	
    top: 16vw;
}
	.reporte-item-contenido > h2 {
    font-size: 2.8vw;
	}
	.reporte-item-contenido > p {
		font-size: 2.4vw;
	}
	.reporte-item-fecha{
    	font-size: 2.5vw !important;
    	line-height: 2.5vw;
		padding: 1vw;
	
	}
	.reporte-item-contenido > i {
		font-size: 5vw !important;
		height: 5vw !important;
		width: 3vw;
		left: 94vw !important;
		top: 16vw !important;
	}
	.lista-reportes>div{
		padding-bottom:10vw;
	}
}
/* TABLET PRTRAIT*/
@media only screen and (min-width : 768px) and (orientation : portrait) {
	
}
/* TABLET LANDSCAPE*/
@media only screen and (min-width : 1000px) and (orientation : landscape){
	
}