<div ng-controller="notificaciones">
<ion-pan style="  position: absolute;  top: 8vh;  background: none;  bottom: 0vh;  height: auto;  width: 100vw;"   ng-hide="!pantallas[1]">
<ion-content style="background:none; top:0vh; "  has-bouncing="true"  >
<ion-refresher pulling-text={{idioma.general[5]}}  on-refresh="refreshNotification()" spinner="android" ng-hide="cargandoN">
  </ion-refresher>
	<ion-list>
    </ion-item>
        <ion-item class="item ng-hide" style="background: none;padding: 10px;height: 50px;text-align: center;" ng-show="cargandoN" >
      	<ion-spinner icon="android" class="spinner-dark"></ion-spinner>	  		
  		</ion-item>
    	<ion-item class="item item-avatar notificacion" ng-repeat="notificacion in Notificaciones track by $index" ng-click="notificacionClick(notificacion)" on-touch="notificacionTouch(notificacion)" style="padding-bottom: 2vh !important;" item-width=100% ng-hide="notificacion.Asunto==0 && notificacion.Tipo<5" on-release="notificacionEnd()">
      		<img ng-src="img/icons/{{notificacion.Imagen}}.png">
      		<h2 style="  font-size: 3vh !important;  color: #fff;  text-overflow: ellipsis;white-space: nowrap;">{{notificacion.Titulo}}</h2>
      		<p style="  color: #BEBEBE;  text-transform: capitalize;" class="{{'notificacion'+notificacion.Tipo}}">{{notificacion.Subtitulo}}</p>
	  		<p class="hora_notificacion" style="font-size:2vh !important;  color: #B9B9B9;opacity:1;line-height: initial;  width: 100%; text-align: right;">{{notificacion.Fecha+" "+notificacion.Hora }}</p>
  		</ion-item>
        <ion-item class="item" style="  background: none;padding: 0px;height: 50px;  padding-bottom: 0px !important;" ng-click="refreshOlder()" ng-hide="loadOlder || todasOld">
      		
      		<button style="font-size: 3vh !important;color: #000000;width: 100%;height: 100%;background: rgba(223, 223, 223, 0.57);border: none;">{{idioma.general[15]}}</button>
	  		
  		</ion-item>
        <ion-item class="item" style="background: none;padding: 10px;height: 50px;text-align: center;" ng-show="loadOlder && !cargando" >
      	<ion-spinner icon="android" class="spinner-dark"></ion-spinner>	  		
  		</ion-item>
    </ion-list>
</ion-content>
</ion-pan>
<div class="ng-hide" style="position: absolute;z-index:-1;top: 8vh;bottom: 0px;left: 0px;right: 0px;padding: 2vh;text-align: center;color: #7E7E7E;" class="ng-hide" ng-show="Notificaciones.length==0 && !cargando">{{idioma.notificaciones[1]}}</div>
</div>