@charset "utf-8";
/* NORMAL*/
.login-view{
	background: none;
}
.login-view > ion-content{
	content: 'viewport-units-buggyfill;bottom:10vh;';
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	bottom:10vh;
}
.login-logo-landscape{
	display:none;
}
.login-logo-container{
	content: 'viewport-units-buggyfill;height: 23vh;';
	height: 23vh;
    text-align: center;
	margin-top: 15vh;
}
.login-logo{
	display: inline;
	height: 100%;
}
.login-input-title{
	content: 'viewport-units-buggyfill;font-size: 4vh;margin-top: 6.5vh;line-height: 5vh;';
    color: #059DB5;
    text-align: center;
    font-size: 4vh;
    margin-top: 6.5vh;
    line-height: 5vh;
}
.login-input-container{
	content: 'viewport-units-buggyfill;margin-top: 2.5vh;';
	 margin-top: 2.5vh;
}

.login-input-bg{
	content: 'viewport-units-buggyfill;font-size: 2.5vh;';
	width: 80%;
	margin-left: 10%;
	font-size: 2.5vh;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	background: rgba(255,255,255,0.1);
	color: #A9A9A9;
	outline: none;
}
label.item-input{
	content: 'viewport-units-buggyfill;padding-left:1vh !important;padding-right:1vh !important;';
	padding-left:1vh !important;
	padding-right:1vh !important;
}
.login-input{
	content: 'viewport-units-buggyfill;font-size: 2.5vh !important;padding-left: 1vh !important;';
    font-size: 2.5vh !important;
    color: #E7E7E7 !important;
    padding-left: 1vh !important;
    line-height: inherit !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: auto !important;
	padding-right: 0px !important;
    
}
.login-input-icon{
	content: 'viewport-units-buggyfill;font-size: 2.5vh !important;padding-left: 1vh !important;line-height: 2.5vh !important;height:2.5vh !important;';
	font-size: 2.5vh !important;
	color: #E7E7E7 !important;
	padding-left: 1vh !important;
    line-height: 2.5vh !important;
	height:2.5vh !important;
    padding-top: 0px !important;
}
.login-enter-button-container{
	content: 'viewport-units-buggyfill;margin-top: 3vh;';
	text-align:center;
	margin-top: 3vh;
}
.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
	content: 'viewport-units-buggyfill;font-size: 2.5vh; height: 4.5vh;padding-left: 7vw;padding-right: 7vw;';
	width: auto !important;
    font-size: 2.5vh;
    background: #059DB5;
    color: #161616;
    height: 4.5vh;
    min-height: 0px;
    line-height: inherit;
    border-radius: 5px !important;
	padding-left: 7vw;
    padding-right: 7vw;
}
.login-footer{
	content: 'viewport-units-buggyfill;width: 100vw;bottom: 1vh;';
	width: 100vw;
    position: absolute;
    bottom: 1vh;
    left: 0px;
    height: auto;
    font-weight: 100 !important;
}
.login-footer > button{
	content: 'viewport-units-buggyfill;height: 5.5vh;margin-top: 1vh !important;font-size: 2.7vh;';
	min-height: 0px;
    height: 5.5vh;
    top: 0px;
    right: 0px;
    text-align: center;
    background: rgba(232, 232, 232, 0.08) !important;
    float: left;
    clear: initial;
    position: relative;
    border-radius: 0px !important;
    margin: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 1vh !important;
    color: #ADADAD !important;
    line-height: initial;
    width: 100%;
    font-size: 2.7vh;
    /* border-top: solid 0.5vh #505050 !important; */
    box-shadow: none;
    left: 0px;

}
/****IPHONE PEQUEÑOS**
@media (max-width: 320px){
.login-logo-container{
	height: 23vh;
	margin-top: 10vh;
}
.login-input-title{
    font-size: 5vh;
    margin-top: 4vh;
	line-height:5vh;
}
.login-input-container{
	margin-top:4vh;
}

.login-input-bg{
	width: 80%;
	margin-left: 10%;
	font-size: 2.5vh;
}
.login-input{
    font-size: 3.5vh !important;
    line-height: 5.3vh !important;
    height:5.3vh !important;
    
}
.login-input-icon{
	font-size: 3.5vh !important;
}
.login-enter-button-container{
	margin-top:5vh;
}
.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
	font-size:3.5vh;
	height: 6vh;
    line-height:6vh;
}
.buttons-footer > button{
	height: 7vh;
	font-size: 3.5vh;
    line-height:7vh;
}

.contenedor-mapa-top-right ,.contenedor-mapa-top-right-more{
	width:8vh !important;
}
.boton-mapa-top-right{
	width:7vh !important;
	height:7vh !important;
}
.label-pie-radio{
    padding-left:1.5vh !important;
    font-weight:200 !important;
}
}*/
/* LANDSCAPE*/
@media (orientation: landscape) {
	.login-view > ion-content{
		content: 'viewport-units-buggyfill;padding:2vw !important';
		bottom: 0px;
		padding:2vw !important
	}
	.login-logo-container{
		content: 'viewport-units-buggyfill;height: 15vw;margin: 2vw;';
		margin-top: 0px;
		height: 15vw;
		margin: 2vw;
	}
	
	.login-input-title{
		display:none;
	}
	.login-input-bg{
		width: 50%;
    	margin-left: 25%;
	}
	.login-input-icon{
		content: 'viewport-units-buggyfill;font-size: 2vw !important;height: 2vw !important;';
		font-size: 2vw !important;
    	height: 2vw !important;
	}
	.login-input{
		content: 'viewport-units-buggyfill;font-size: 2.5vw !important;';
	    font-size: 2.5vw !important;
	}
	.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
		content: 'viewport-units-buggyfill;font-size: 2.5vw;height: 4.5vw;';
		font-size: 2.5vw;
    	height: 4.5vw;
	}
	.login-view > .buttons-foote{
		position: relative;
    	top: 0px;
    	left: 0px;
	}
	.login-enter-button-container{
		content: 'viewport-units-buggyfill;margin-top: 3vw;';
		margin-top: 3vw;
	}
	
	label.item-input{
		content: 'viewport-units-buggyfill;padding-left:1vw !important;padding-right:1vw !important;';
		padding-left:1vw !important;
		padding-right:1vw !important;
	}
	.login-footer > button{
		content: 'viewport-units-buggyfill;font-size: 2.5vw;height: 5vw !important; border-left: 1vh solid #242424 !important;';
		margin: 0px !important;
    width: 50%;
    font-size: 2.5vw;
    height: 5vw !important;
    border-left: 1vh solid #242424 !important;
	}
	.login-footer > button:first-of-type{
		border-left:none !important;
	}
	.buttons-footer{
		    bottom: 0px;
	}
}
/* TABLET PRTRAIT*/
@media only screen and (min-width : 768px) and (orientation : portrait) {
	
}
/* TABLET LANDSCAPE*/
@media only screen and (min-width : 1000px) and (orientation : landscape){
	
}