@charset "utf-8";
/* CSS Document */

#inicio_barra{
position: absolute;
height: 8vh;
width: 100%;
padding: 0px;
background: rgba(26,26,26,0.9);
display: block;
border: none;
}
#inicio_pie{
position: absolute;
border: none;
height: 65px;
width: 100%;
padding: 0px;
background: rgba(26,26,26,0.9);
display: block;
overflow: hidden;
}
#inicio_menu_btn{
	padding:0px;
	opacity: 0.6;
	height: 100%;
	background: none;
	position: relative;
	float: left;
	border: none;
	margin-right: 2vw;
}
.inicio_mapa{
	position: absolute;
	top: 0px;
	width: 100vw;
	bottom: 0px;
	margin: 0px;
}

/*#inicio_personas{
    width: 100vw;
    background: rgba(1,1,1,0.95);
    bottom: 0px;
    z-index: 10;
    top: 8vh;
    position: absolute;
}*/
.inicio_barra_logo{
	height: 100%;
	padding: 1vh;
	background: 0px;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
}
.inicio_barra_opcion{
	height: 100%;
	padding: 1.8vh;
	padding-left: 0px;
	opacity: 0.7;
	color: #FFF;
	background: 0px;
	border: none;
	position: relative;
	float: right;
	width: auto;
}
.inicio_opcion_icono{
	font-size: 5vh;
	float: right;
}
.inicio_check{
    margin: 0.5vh;
    margin-left: 0.5vh;
    margin-right: 2vh;
    position: relative;
    padding: 0px;
    float: left;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
margin-top: 0px;
}
#inicio_rango_label{
    width: auto;
    position: relative;
    float: left;
    /* margin-top: 1vw; */
    height: 100%;
    background: none;
    border: none;
    padding: 0px;
    font-size: 23px;
    line-height: 0px;
    margin-top: 0.5vh;
    margin-left: 10px;
}
.inicio_pie_mitad{
	width: 100vw;
	/* overflow:hidden; */
	height: 40px;
	position:relative;
	float:left;
}
.inicio_barra_rango{
background: none;
border: none;
width: 100%;
padding: 0px;
margin: 0px;
/* margin-left: 5vw; */
position: absolute;
top: 0.5vh;
height: 100%;
}
#inicio_flotante_opciones{
	width: 100vw;
position: absolute;
top: 8vh;

	bottom: 100%;
	background: rgba(0,0,0,0.9);

z-index: 500;
overflow:hidden;
}
#inicio_bar_flotante_pie{
    width: 100vw;
    height: 4vh;
    background: rgba(255,255,255,0.4);
    border: none;
    position: absolute;
    bottom: 0px;
}
#inicio_contenido_flotante{
    width: 100vw;
    top: 0px;
    position: absolute;
    bottom: 4vh;
    overflow: auto;
}
.inicio_barra_opcion_numero{
    position: absolute;
    background: #d08d33;
    width: auto;
    min-width: 3vh;
    height: 3vh;
    bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    right: 3px;
    font-size: 2.3vh;
    overflow: hidden;
    color: #fff;
    border-radius: 100%;
}
.inicio_pantalla{
    position: absolute;
    width: 100vw;
    z-index: 2;
    top: 0px;
    bottom: 0px;
    padding-top: 8vh;
    left: 0px;
    color: #fff;
	overflow:hidden;
}
#inicio_pantallas{
    width: 100vw;
    height: 100vh;
    position: absolute;
	overflow:hidden;
    /*overflow-x: scroll;
    overflow-y: hidden;*/
}
#auto_pie{
width: 100vw;
height: 6vh;
background: rgba(26,26,26,0.98);
font-size: 2.5vh;
color: #fff;
position: absolute;
bottom: 0px;
border: none;
}
#personas_pie{
width: 100vw;
height: 6vh;
background: rgba(253, 253, 253, 1);
font-size: 2.5vh;
color: #1C1C1C;
position: absolute;
bottom: 0px;
font-weight: 600;
border: none;
opacity: 0.9;
}
.inputBuscaMapa{
    position: relative;
    width: 89vw;
	float:left;
    font-size: 3vh ;
    padding: 1vh !important;
  	padding-right: 2vh;
    padding-left: 2vh;
    line-height: initial;
	background:none;
	border:none;
}
.divBuscaMapa{
    position: absolute;
    width: 98vw;
    left: 1vw;
  	top: 9vh;
  border: solid 1px #9F9F9F;
  border-radius: 2px;
   background-color: rgba(255, 255, 255, 0.93);
}
.buscadorDir{
    position: absolute;
    top: 0px;
    bottom: 0px;    
	left: 0px;    
	right: 0px;    
	
    background-color: rgba(11, 11, 11, 0.95);    
	z-index: 10;  
}
.searchLista{
position: absolute !important;
  
top: 15vh !important;
  left: 0px !important;
  right: 0px !important;
  
bottom: 0vh !important;
  padding: 1vh !important;
}
.lugaritem{
  padding-top: 2vh !important;
  padding-bottom: 1vh !important;
  min-height: 0px !important;
  background: rgba(255, 255, 255, 0.08);
  text-align: left;
  width: 100% !important;
  border: none;
  margin-bottom: 1vh;
}

@media all and (orientation:landscape) {
#inicio_barra{
    height: 12vh;
}
.inicio_opcion_icono{
	font-size: 9vh;
}
#inicio_contenido_flotante{
    bottom: 6vh;
    
}
#inicio_flotante_opciones{
    top: 12vh;
}
#inicio_bar_flotante_pie{
    height: 6vh;
}
.inicio_pantalla{
    padding-top: 12vh;
}
}