@charset "utf-8";
/* CSS DocumentIPHONES */

@media (max-width: 320px){
.login-logo-container{
	height: 23vh;
	margin-top: 10vh;
}
.login-input-title{
    font-size: 5vh;
    margin-top: 4vh;
	line-height:5vh;
}
.login-input-container{
	margin-top:4vh;
}

.login-input-bg{
	width: 80%;
	margin-left: 10%;
	font-size: 2.5vh;
}
.login-input{
    font-size: 3.5vh !important;
    line-height: 5.3vh !important;
    height:5.3vh !important;
    
}
.login-input-icon{
	font-size: 3.5vh !important;
}
.login-enter-button-container{
	margin-top:5vh;
}
.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
	font-size:3.5vh;
	height: 6vh;
    line-height:6vh;
}
.buttons-footer > button{
	height: 7vh;
	font-size: 3.5vh;
    line-height:7vh;
}
.registro-vista-contenido{
	height: 66.5vh;
}
.contenedor-mapa-top-right{
	width:7vh !important;
}
.boton-mapa-top-right{
	width:7vh !important;
	height:7vh !important;
}

}
/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 

}
/*iphone 6+*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { 

}
/*ipad*/
@media (min-width: 767px){
    #infobox {
        font-size:2.3vh;
        line-height:2.5vh;
    }
    .nota_infobox{
        font-size:1.5vh;
        line-height:1.8vh;
    }
    .cerrar_info{
        height:3vh !important;
        width:3vh !important;
    }
	.texto_cuenta{
	font-size:2vh !important;
	
	}
}
