/* Empty. Add your own CSS if you like */
.login-view{
	background: -webkit-linear-gradient(left, #232323, #2D2D2D);
}
.login-view > ion-content{
	padding-top:0px;
	padding-bottom:0px;
	bottom:10vh;
}
.login-logo-container{
	height: 23vh;
    text-align: center;
	margin-top: 15vh;
}
.login-logo{
	height: 100%;
}
.login-input-title{
    color: #059DB5;
    text-align: center;
    font-size: 4vh;
    margin-top: 6.5vh;
    line-height: 5vh;
}
.login-input-container{
	 margin-top: 2.5vh;
}

.login-input-bg{
	width: 80%;
	margin-left: 10%;
	font-size: 2.5vh;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	background: rgba(255,255,255,0.1);
	color: #A9A9A9;
	outline: none;
}
.login-input{
    font-size: 2.5vh !important;
    color: #E7E7E7 !important;
    padding-left: 1vh !important;
    line-height: inherit !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: auto !important;
    
}
.login-input-icon{
	font-size: 2.5vh !important;
	color: #E7E7E7 !important;
	padding-left: 1vh !important;
    line-height: 2.5vh !important;
	height:2.5vh !important;
    padding-top: 0px !important;
}
.login-enter-button-container{
	text-align:center;
	margin-top: 3vh;
}
.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
	width: auto !important;
    font-size: 2.5vh;
    background: #059DB5;
    color: #161616;
    height: 4.5vh;
    min-height: 0px;
    line-height: inherit;
    border-radius: 5px !important;
	padding-left: 7vw;
    padding-right: 7vw;
}
.buttons-footer{
	width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: auto;
}
.buttons-footer > button{
	    height: 5.5vh;
    font-size: 2.7vh;
    min-height: 0px;
    line-height: inherit;
	margin-top: 1vh !important;
    background: rgba(255, 255, 255, 0.6) !important;
    color: rgb(17, 17, 17) !important;
	margin-bottom:0px !important;
}