/* Empty. Add your own CSS if you like */
.login-view{
	background:#000;
}
.login-view > ion-content{
	padding-top:0px;
	padding-bottom:0px;
	bottom:10vh;
}
.login-logo-container{
	height: 23vh;
    text-align: center;
	margin-top: 10vh;
}
.login-logo{
	height: 100%;
}
.login-input-title{
    color: #059DB5;
    text-align: center;
    font-size: 5vh;
    margin-top: 4vh;
	line-height:5vh;
}
.login-input-container{
	margin-top:4vh;
}

.login-input-bg{
	width: 80%;
	margin-left: 10%;
	font-size: 2.5vh;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	background: rgba(255,255,255,0.1);
	color: #A9A9A9;
	outline: none;
}
.login-input{
    font-size: 3.5vh !important;
	color: #E7E7E7 !important;
	padding-left: 1vh !important;
    line-height: 5.3vh !important;
    padding-top: 0px !important;
    padding-bottom:0px !important;
    height:5.3vh !important;
    
}
.login-input-icon{
	font-size: 3.5vh !important;
	color: #E7E7E7 !important;
	padding-left: 1vh !important;
    line-height: normal !important;
    padding-top: 0px !important;
}
.login-enter-button-container{
	text-align:center;
	margin-top:5vh;
}
.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
	width:30vw;
	font-size:3.5vh;
	background: #059DB5;
	color: #161616;
	height: 6vh;
    min-height:0px;
    line-height:6vh;
	border-radius: 5px !important;
}
.buttons-footer{
	width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: auto;
}
.buttons-footer > button{
	height: 7vh;
	font-size: 3.5vh;
    min-height:0px;
    line-height:7vh;
	margin-top: 1vh !important;
    background: rgba(255, 255, 255, 0.6) !important;
    color: rgb(17, 17, 17) !important;
	margin-bottom:0px !important;
}