<div class="contenedor-mapa-bottom-center fast" >
	<div class="contenedor-mapa-pie" ng-hide="auto.posicionando">
    	<div class="parte1">
		<label class="toggle toggle-mapa-pie">
			<input type="checkbox" ng-model="radio.activo" >
			<div class="track">
				<div class="handle"></div>
			</div>
		</label>
        <button class="label-pie-radio" >{{idioma.Mapa[1]}}{{radio.radio | distance}}</button>
        </div>
        <div class="parte2">
       		<div class="item range rango-radio" >
              	<i class="icon ion-minus-round"></i>
              	<input type="range" min="10" max="16000" step="1" ng-model="radio.radio" ng-touchstart="iniciaCambio()" ng-touchend="terminaCambio()">
              	<i class="icon ion-plus-round"></i>
            </div>
            <div class="tapa-parte2" ng-show="!radio.activo"></div>
        </div>
        
	</div>
    
</div>