<div class="contenedor-mapa-controls" >
<div class="contenedor-mapa-top-right more" z-index="1" ng-hide="auto.posicionando" style="height:auto !important;    z-index: 20;">
<button class="boton-mapa-top-right options" ng-click="showControls()"><i class="icon ion-android-more-vertical"></i></button>
</div>
<div class="contenedor-mapa-top-right" z-index="2" ng-hide="auto.posicionando" >
        <button ng-repeat="control in controls" class="boton-mapa-top-right dead {{control.id}}"   ng-click="controlClick($index)" ng-hide="control.activo">
        <img class="img-boton-mapa-top-right" style="-webkit-mask-image: url('img/iconos/mapa/controls/{{control.nombre}}.png');" >
        </button>
</div>
<div class="auto-id ng-hide" z-index="2" ng-show="auto.posicionando" >
        <button  class="boton-mapa-top-right dead2 "   ng-click="cancelarAuto()" style="top: 10vh;">
        <img class="img-boton-mapa-top-right" style="-webkit-mask-image: url('img/iconos/mapa/controls/cerrar.png');" >
        </button>
        <button  class="boton-mapa-top-right dead2 "   ng-click="actualizaAuto()" style="top: 10vh;">
        <img class="img-boton-mapa-top-right " style="-webkit-mask-image: url('img/iconos/mapa/controls/ubicacion.png');" >
        </button>
</div>
<div class="contenedor-mapa-top-left" ng-hide="auto.posicionando">
	<button ng-repeat="control in controls" class="boton-mapa-top-right activo {{control.id}}"   ng-click="controlClick($index)" ng-show="control.activo">
        <img class="img-boton-mapa-top-right" style="-webkit-mask-image: url('img/iconos/mapa/controls/{{control.nombre}}.png');" >
    </button>
</div>
<div ng-show="auto.posicionando" class="contenedor-mapa-auto ng-hide">
	<button class="boton-auto-aceptar" ng-click="setAuto()">{{idioma.Auto[2]}}</button>
</div>
</div>