<ion-modal-view class="modal-view-filtros" ng-controller="Filtros">
    <ion-header-bar>
    <div>
    	<label class="toggle toggle-mapa-pie">
			<input type="checkbox" ng-model="filtros.activos" >
			<div class="track">
				<div class="handle"></div>
			</div>
		</label>
 	</div>
      <h1 class="title">{{idioma.Filtros[1]}}</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false">
      <button class="filtros-tabs-fecha {{(!filtros.tipo)?'activo':''}}" ng-click="cambiaTipoFecha(0)">{{idioma.Filtros[2]}}</button>
      <button class="filtros-tabs-fecha {{(filtros.tipo)?'activo':''}}" ng-click="cambiaTipoFecha(1)">{{idioma.Filtros[3]}}</button>
      <div class="filtros-fechas-contenedor " >
      	<ion-list>
        <ion-item class="item-icon-left filtros-fechas-item">
        	<i class="icon ion-calendar"></i>
            {{idioma.Filtros[4]}}
            <span class="item-note">{{ filtros | fechaFiltros:this:1}}</span>
        </ion-item>
        <ion-item class="item-icon-left filtros-fechas-item" style="border-bottom:none !important;">
        	<i class="icon ion-calendar"></i>
            {{idioma.Filtros[5]}}
            <span class="item-note">{{ filtros | fechaFiltros:this:2}}</span>
        </ion-item>
        </ion-list>
      <ionic-datepicker date="filtros.fechaInicial" callback="cambioFecha" min="minDate" max="filtros.fechaFinal" class="ng-hide" ng-show="!filtros.tipo">
    		<button class="filtros-fecha-boton"></button>
		</ionic-datepicker>
        <ionic-datepicker  date="filtros.fechaFinal" callback="cambioFecha" min="filtros.fechaInicial" max="maxDate" style="top:6vh" class="ng-hide 2" ng-show="!filtros.tipo">
    		<button class="filtros-fecha-boton" ></button>
		</ionic-datepicker>
        <div class="filtros-fecha-periodo ng-hide" ng-click="cambiaPeriodo()" ng-show="filtros.tipo"></div>
        </div>
        <button class="filtros-tabs-fecha activo" style="width:100%" >{{idioma.Filtros[7]}}</button>
        <button class="filtros-tabs-fecha " style="background: #353535;" ng-click="marcaTodo(true)">{{idioma.Filtros[9]}}</button>
        <button class="filtros-tabs-fecha " style="border-left:solid 0.5vh #303030 !important;    background: #353535;" ng-click="marcaTodo(false)">{{idioma.Filtros[10]}}</button>
        <ion-content class="lista-estados-container">
        <ion-list class="lista-estados">
        <ion-item class="item-icon-right filtros-estados-item " ng-repeat="estado in filtros.estados" ng-click="seleccionaEstado(estado.Id)">
        	<i class="icon ion-checkmark ng-hide " ng-show="estado.Selected"></i>
            {{estado.Nombre}}
        </ion-item>
        
        </ion-list>
        </ion-content>
        <button class="filtros-tabs-fecha activo" style="width:100%">{{idioma.Filtros[8]}}</button>
        <button class="filtros-tabs-fecha " style="background: #353535;" ng-click="marcaTodoEventos(true)">{{idioma.Filtros[9]}}</button>
        <button class="filtros-tabs-fecha " style="border-left:solid 0.5vh #303030 !important;    background: #353535;" ng-click="marcaTodoEventos(false)">{{idioma.Filtros[10]}}</button>
        <div class="filtros-eventos-item {{asunto.Selected?'activo':''}}" ng-repeat="asunto in filtros.asuntos" ng-click="seleccionaAsunto(asunto.Id)" style="{{($index+1)%5?'':'border-right:solid 0.5vh #393939;'}};{{$index<5?'border-top:none':''}}">
        	<img ng-src="img/iconos/mapa/marcadores/{{asunto.Id}}.png">
            <p>{{asunto.Nombre}}</p>
        </div>
        
    </ion-content>
    <div class="filtros-cover " ng-hide="filtros.activos"></div>
    <ion-footer-bar>
      <button ng-click="guardaFiltros()">{{idioma.General[2]}}</button>
    </ion-footer-bar>
  </ion-modal-view>
