@charset "utf-8";
/* CSS Document */
@import "font-awesome.min.css";
@import "../lib/ionic/css/ionic.css";
@import "../lib/ionic-material/dist/ionic.material.css";
@import "../lib/datepicker-for-ionic/dist/style.css";


