/* Empty. Add your own CSS if you like */
* {
	font-family: "Helvetica Neue", "Roboto", Sans-Serif !important;
}
body,html{
	    background-color: #242424 !important;
}
#app_content.invisible{
	opacity:0 !important;
}
.unselect{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button{
	border:none !important;
	border-radius:0px !important;
	-webkit-appearance: none !important;
	text-transform:none !important;
	-webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	backface-visibility:hidden;
}
input{
	border-radius: 0px !important;
}
.button-vg-blue, .button-vg-blue:active, .button-vg-blue:hover{
	background: #E7E7E7;
    color: #000;
		
}
.loading-container{
	background: rgba(109, 109, 109, 0.2);
}
.loading-container .loading {
    padding: 2vh;
    border-radius: 5px;
    background-color: rgba(14, 14, 14, 0.7);
    color: #B9B9B9;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 2.5vh;
}
.popup-container .popup {
    width: 90vw;
    max-width: 100%;
    max-height: 90%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}
.popup-title {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    font-weight: 700;
}
.popup-body {
    padding: 3%;
    overflow: auto;
    text-align: center;
    position: relative;
    width: 100%;
	font-size:2.5vh;
	line-height:3vh;
}
.popup-buttons{
	min-height: 0px;
}
.popup-buttons >.button , .popup-buttons >.button:active , .popup-buttons >.button:hover{
    border-radius: 2px !important;
    line-height: 3vh;
    font-size: 3vh;
    padding: 1vh;
    height: auto;
	border-color: #3D3E3E;
    background-color: #424242;
    color: #fff;
	min-height:0px;
}
.popup-head {
    padding: 2vh 10px;
    border-bottom: 1px solid #CACACA;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.71);
}
ion-nav-view{
	background-color:#242424 !important;
}
.view-seccion > ion-content{
	    background: #242424 !important;
        top: 10vh !important;
}
.has-header{
	top:10vh !important;
}
ion-header-bar{
	height:10vh !important;
	max-height:10vh !important;
	min-height:10vh !important;
	background: #181818 !important;
}
.primary-buttons{
	height: 10vh !important;
    padding: 1vh !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.primary-buttons>button{
	height: 100%;
    background: none;
	padding:0px;
}
.right-buttons{
	margin-right:4vw;
}
.icono-header{
	margin-left: 2vw;
	top:0px;
	margin-left: 2vw;
    top: 0px !important;
    position: relative !important;
    float: right !important;
}
.icono-header > div{
	width:9vw !important;
	height:9vw !important;
	-webkit-mask-size:cover !important;
	-webkit-mask-position:center !important;
	background:#E1E1E1;
}
.icono-header.seleccionado >div{
	background:#059DB5 !important;
}
.menu-cover-open{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.49);
	z-index:10000;
	display:none;
}
.angular-google-map-container { 
height:100vh;
width:100vw;
 }
  .gm-style-cc, .gm-style > div + div {
	display:none
 }
 .cover {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
}

.cover.display {
  display: block;
}
.placeMarker{
 width:40px;
 height:51px;
 background:url(../img/iconos/mapa/marcadores/place.png);
 background-size:cover;
 background-position:center;
position:relative;
}
.carMarker{
	width:40px;
 height:51px;
 background:url(../img/iconos/mapa/marcadores/car.png);
 background-size:cover;
 background-position:center;
position:relative;
}
.contIconMarker{
	width:40px;
	height:40px;
	position:relative;
}
.preload-images {
  display: none;
  width: 0;
  height: 0;
  background: url(../img/iconos/mapa/marcadores/1.png),
              url(../img/iconos/mapa/marcadores/2.png),
              url(../img/iconos/mapa/marcadores/3.png),
			  url(../img/iconos/mapa/marcadores/4.png),
              url(../img/iconos/mapa/marcadores/5.png),
              url(../img/iconos/mapa/marcadores/6.png),
			  url(../img/iconos/mapa/marcadores/7.png),
              url(../img/iconos/mapa/marcadores/8.png),
              url(../img/iconos/mapa/marcadores/9.png),
			  url(../img/iconos/mapa/marcadores/10.png),
              url(../img/logo.png),
              url(../img/avatar.png),
			  url(../img/iconos/mapa/marcadores/g1.png),
              url(../img/iconos/mapa/marcadores/g2.png),
              url(../img/iconos/mapa/marcadores/g3.png);
}
.iconMarker{
	width:23px;
	height:23px;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	position:absolute;
	opacity: 1;
	background-color: #e2e2e2;
	-webkit-mask-size: cover;
}
.fast {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	backface-visibility:hidden;
}
.spinner svg {
 stroke: #059DB5;
 fill: #F5F5F5;
}
.popup-buttons > button{
	    box-shadow: none;
}
.button-default{
	background: #E7E7E7 !important;
    border: solid 1px #8C8C8C !important;
    color: #424242 !important;
}
.cluster{
	opacity:0.9;
}
.boton-menu > .ink-ripple{
	display:none !important;
}
.action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.68);
}
.action-sheet-option, .action-sheet-destructive{
	box-shadow:none !important;
	    border-bottom: solid 1px #C9C9C9 !important;
		font-size: 2.5vh !important;
		    color: #005E6D !important;
			    font-weight: 400;
}
.action-sheet-destructive{
     color: #BE4306 !important;
}
.action-sheet-title{
	border-bottom: solid 1px #C9C9C9;
	    font-size: 2.8vh;
		    color: #1F1F1F !important;
			    font-weight: 500;
}
.action-sheet-options{
	    background: #F5F4F4;
		
}
.action-sheet-cancel {
	 background: #F5F4F4;
	 font-size: 2.5vh !important;
}
.action-sheet-cancel > button{
	background: #F5F4F4;
	 font-size: 2.5vh !important;
	 color: #484848 !important;
}
.datepicker-modal{
	    height: 100vh !important;
    width: 100vw !important;
    max-height: 100vh !important;
	 background: #272727 !important;
}
.datepicker-content{
	height: 53vh;
    background: #272727;
}
.datepicker-content > .col{
	        color: #EFEFEF;
    height: 7vh;
    line-height: 5vh;
    font-size: 2.8vh;
    font-weight: 200;
}
.datepicker-content > .col + div > div{
	background:none !important
}
.datepicker-content > .row:not(.col){
	height: 6vh;
    padding: 0px;
    min-height: 0px;
    margin: 0px;
}

.datepicker-content > .row:not(.col) > div:not(.datepicker-selected)>div{
	    color: #E0E0E0;
}
.datepicker-content > .row:not(.col) > div.datepicker-disabled>div{
	    color: #777;
}
.datepicker-content > .row:not(.col) > div:hover:not(.datepicker-disabled){
	    background: none;
    border-radius: 5px;
}

.datepicker-content > .row:not(.col) > div.datepicker-selected,.datepicker-content > .row:not(.col) > div.datepicker-selected:hover{
	background: rgb(5, 157, 181);
	border-radius: 5px;
}
.datepicker-content > .row:not(.col) > div.datepicker-selected>div{
	
    
    color: #272727;
    font-weight: bold;
}
.datepicker-content > .row:not(.col) > div{
	    padding: 0px;
    font-size: 3vh;
    line-height: 6vh;
	color: #059DB5;
}
.datepicker-content > .row:not(.col) > div >div{
	height: 100%;
    padding: 0px;
}
.datepicker-modal-buttons{
	background: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    height: 10vh;
    min-height: 0px;
    display: block;
	
}
.datepicker-modal-buttons > button{
	padding: 0px;
    width: 50% !important;
    max-width: 100vh !important;
    margin: 0px !important;
	height: 100% !important;
    float: left !important;
    min-height: 100% !important;
	font-size: 3vh !important;
}
.datepicker-ok-js{
	color: #059DB5 !important;
    
}
.datepicker-modal-head{
	height: 7vh;
    padding: 1vh;
	background:#037283;
	min-height: 7vh;
}
.datepicker-modal-head >div{
	font-size: 3vh;
    line-height: 5vh;
    font-weight: 200;
}
.datepicker-modal-head + div{
	    height: 30vh;
    min-height: 30vh;
    max-height: 30vh;
    background: #059DB5;
}
.datepicker-modal-head + div >div{
	    height: auto;
    min-height: 0px;
    max-height: 100vh;
    padding: 0px;
}
.datepicker-month{
    margin: 0px;
    padding: 0px;
    height: 8vh;
    line-height: 8vh;
    font-size: 3vh;
    font-weight: 300;
}
.datepicker-day-of-month{
    margin: 0px;
    padding: 0px;
    height: 16vh;
    line-height: 16vh;
    font-size: 13vh;
    font-weight: 600;
}
.datepicker-year{
    margin: 0px;
    padding: 0px;
    height: 8vh;
    line-height: 8vh;
    font-size: 3vh;
    font-weight: 300;
}
.datepicker-year-content-js , .datepicker-month-content-js{
	padding:3vh;
	height: 53vh;
}
.datepicker-year-content-js > .row:not(.col) > div.datepicker-selected,.datepicker-year-content-js > .row:not(.col) > div.datepicker-selected:hover, .datepicker-month-content-js > .row:not(.col) > div.datepicker-selected,.datepicker-month-content-js > .row:not(.col) > div.datepicker-selected:hover{
	    background: #4E4E4E;
    color: #fff;
    border-radius: 0px;
}
.loading-list{
	    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 28px;
    height: 28px;
    margin: auto;
}
.list-mensaje{
    text-align: center !important;
    font-size: 2.8vh;
    font-weight: 200;
    color: #B9B9B9;
	}
	.icon-pulling{
	color: #059DB5;
	}
	.modal-backdrop.active > .modal-backdrop-bg{
		opacity:0;
		animation-timing-function: linear;
		animation-name: aparecer;
    	animation-duration: 0.5s;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-ms-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}
	.modal-backdrop> .modal-backdrop-bg{
		opacity:1;
		animation-timing-function: linear;
		animation-name: desaparecer;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-ms-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}
	.elipsis{
		text-overflow: ellipsis !important;
    overflow: hidden !important;
    word-wrap: initial !important;
	}
	@keyframes aparecer {
   from {opacity: 0;}
   to {opacity: 1;}
}
@keyframes desaparecer {
   from {opacity: 1;}
   to {opacity: 0;}
}
.popup-body>input{
	border: solid 2px #ADACAC;
    margin-top: 2vh;
    border-radius: 5px !important;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 2.5vh;
    line-height: inherit;
}