/* Empty. Add your own CSS if you like */
* {
	font-family: "Helvetica Neue", "Roboto", Sans-Serif !important;
}
.unselect{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button{
	border:none !important;
	border-radius:0px !important;
	-webkit-appearance: none !important;
	text-transform:none !important;
	-webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	backface-visibility:hidden;
}
input{
	border-radius: 0px !important;
}
.button-vg-blue, .button-vg-blue:active, .button-vg-blue:hover{
	background: #E7E7E7;
    color: #000;
		
}
.loading-container{
	background: rgba(109, 109, 109, 0.2);
}
.loading-container .loading {
    padding: 2vh;
    border-radius: 5px;
    background-color: rgba(14, 14, 14, 0.7);
    color: #B9B9B9;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 2.5vh;
}
.popup-container .popup {
    width: 90vw;
    max-width: 100%;
    max-height: 90%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}
.popup-title {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    font-weight: 700;
}
.popup-body {
    padding: 3%;
    overflow: auto;
    text-align: center;
    position: relative;
    width: 100%;
	font-size:2.5vh;
	line-height:3vh;
}
.popup-buttons{
	min-height: 0px;
}
.popup-buttons .button , .popup-buttons .button:active , .popup-buttons .button:hover {
    border-radius: 2px !important;
    line-height: 3vh;
    font-size: 3vh;
    padding: 1vh;
    height: auto;
	border-color: #3D3E3E;
    background-color: #424242;
    color: #fff;
	min-height:0px;
}
.popup-head {
    padding: 2vh 10px;
    border-bottom: 1px solid #CACACA;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.71);
}
ion-nav-view{
	background-color:#242424 !important;
}
.view-seccion > ion-content{
	    background: #242424 !important;
        padding-top: 10vh !important;
}
.has-header{
	top:10vh !important;
}
ion-header-bar{
	height:10vh !important;
	max-height:10vh !important;
	min-height:10vh !important;
	background: #181818 !important;
}
.primary-buttons{
	height: 10vh !important;
    padding: 1vh !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.primary-buttons>button{
	height: 100%;
    background: none;
	padding:0px;
}
.right-buttons{
	margin-right:4vw;
}
.icono-header{
	margin-left: 2vw;
	top:0px;
	margin-left: 2vw;
    top: 0px !important;
    position: relative !important;
    float: right !important;
}
.icono-header > div{
	width:9vw !important;
	height:9vw !important;
	-webkit-mask-size:cover !important;
	-webkit-mask-position:center !important;
	background:#E1E1E1;
}
.icono-header.seleccionado >div{
	background:#059DB5 !important;
}
.menu-cover-open{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.49);
	z-index:10000;
	display:none;
}
.angular-google-map-container { 
height:100vh;
width:100vw;
 }
  .gm-style-cc, .gm-style > div + div {
	display:none
 }
 .cover {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
}

.cover.display {
  display: block;
}
.placeMarker{
 width:40px;
 height:40px;
 background:url(../img/iconos/mapa/marcadores/g4.png);
 background-size:cover;
 background-position:center;
position:relative;
}
.contIconMarker{
	width:40px;
	height:40px;
	position:relative;
}
.preload-images {
  display: none;
  width: 0;
  height: 0;
  background: url(../img/iconos/mapa/marcadores/1.png),
              url(../img/iconos/mapa/marcadores/2.png),
              url(../img/iconos/mapa/marcadores/3.png),
			  url(../img/iconos/mapa/marcadores/4.png),
              url(../img/iconos/mapa/marcadores/5.png),
              url(../img/iconos/mapa/marcadores/6.png),
			  url(../img/iconos/mapa/marcadores/7.png),
              url(../img/iconos/mapa/marcadores/8.png),
              url(../img/iconos/mapa/marcadores/9.png),
			  url(../img/iconos/mapa/marcadores/10.png),
              url(../img/logo.png),
              url(../img/avatar.png),
			  url(../img/iconos/mapa/marcadores/g1.png),
              url(../img/iconos/mapa/marcadores/g2.png),
              url(../img/iconos/mapa/marcadores/g3.png);
}
.iconMarker{
	width:23px;
	height:23px;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	position:absolute;
	opacity: 1;
	background-color: #026B7B;
	-webkit-mask-size: cover;
}
.fast {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	backface-visibility:hidden;
}
.spinner svg {
 stroke: #059DB5;
 fill: #F5F5F5;
}
.popup-buttons > button{
	    box-shadow: none;
}
.button-default{
	background: #E7E7E7 !important;
    border: solid 1px #8C8C8C !important;
    color: #424242 !important;
}