.preload-images {
  display: none;
  width: 0;
  height: 0;
  background: url(../img/iconos/mapa/marcadores/1.png),
              url(../img/iconos/mapa/marcadores/2.png),
              url(../img/iconos/mapa/marcadores/3.png),
			  url(../img/iconos/mapa/marcadores/4.png),
              url(../img/iconos/mapa/marcadores/5.png),
              url(../img/iconos/mapa/marcadores/6.png),
			  url(../img/iconos/mapa/marcadores/7.png),
              url(../img/iconos/mapa/marcadores/8.png),
              url(../img/iconos/mapa/marcadores/9.png),
			  url(../img/iconos/mapa/marcadores/10.png),
              url(../img/logo.png),
              url(../img/avatar.png),
			  url(../img/iconos/mapa/marcadores/g1.png),
              url(../img/iconos/mapa/marcadores/g2.png),
              url(../img/iconos/mapa/marcadores/g3.png);
}