@charset "utf-8";
/* CSS DocumentIPHONES */

@media (max-width: 320px){
.login-logo-container{
	height: 23vh;
	margin-top: 10vh;
}
.login-input-title{
    font-size: 5vh;
    margin-top: 4vh;
	line-height:5vh;
}
.login-input-container{
	margin-top:4vh;
}

.login-input-bg{
	width: 80%;
	margin-left: 10%;
	font-size: 2.5vh;
}
.login-input{
    font-size: 3.5vh !important;
    line-height: 5.3vh !important;
    height:5.3vh !important;
    
}
.login-input-icon{
	font-size: 3.5vh !important;
}
.login-enter-button-container{
	margin-top:5vh;
}
.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
	font-size:3.5vh;
	height: 6vh;
    line-height:6vh;
}
.buttons-footer > button{
	height: 7vh;
	font-size: 3.5vh;
    line-height:7vh;
}
.registro-vista-contenido{
	height: 66.5vh;
}
.contenedor-mapa-top-right ,.contenedor-mapa-top-right-more{
	width:8vh !important;
}
.boton-mapa-top-right{
	width:7vh !important;
	height:7vh !important;
}
.label-pie-radio{
    padding-left:1.5vh !important;
    font-weight:200 !important;
}
}
/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 

}
/*iphone 6+*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { 

}
/*ipad*/
@media (min-width: 767px){
    #infobox {
        font-size:2.3vh;
        line-height:2.5vh;
    }
    .nota_infobox{
        font-size:1.5vh;
        line-height:1.8vh;
    }
    .cerrar_info{
        height:3vh !important;
        width:3vh !important;
    }
	.texto_cuenta{
	font-size:2vh !important;
	
	}
}
@media (orientation: landscape) {
	.login-view > ion-content{
		bottom: 0px;
		padding:2vw !important
	}
	.login-logo-container{
		margin-top: 0px;
		height: 15vw;
		margin: 2vw;
	}
	
	.login-input-title{
		display:none;
	}
	.login-input-bg{
		width: 50%;
    	margin-left: 25%;
	}
	.login-input-icon{
		font-size: 2vw !important;
    	height: 2vw !important;
	}
	.login-input{
	    font-size: 2.5vw !important;
	}
	.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
		font-size: 2.5vw;
    	height: 4.5vw;
	}
	.login-view > .buttons-foote{
		position: relative;
    	top: 0px;
    	left: 0px;
	}
	.login-enter-button-container{
		margin-top: 3vw;
	}
	
	label.item-input{
		padding-left:1vw !important;
		padding-right:1vw !important;
	}
	.login-view > .buttons-footer > button , .registro-vista > ion-content > .registro-pie > .buttons-footer > button{
		margin: 1vw !important;
		width: 48vw;
		font-size: 2.5vw;
		height: 5vw !important;
		border-top: solid 0.5vw #505050 !important;
	}
	.buttons-footer{
		bottom:0px;
	}
	.registro-header{
		height: 6vw;
		margin-top: 2vw;
    	margin-bottom: 2vw;
	}
	.registro-header > .titulo{
		font-size: 4vw;
		line-height: 4vw;
		height: 4vw;
		
	}
	.registro-steps{
		height: 5vw;
		margin-bottom: 2vw;
	}
	.registro-steps > button{
		height: 5vw;
		width: 5vw;
		font-size: 3vw;
	}
	.registro-vista-contenido{
		height: calc( 100vh - 24vw);
	}
	.registro-datos-titulo{
	    line-height: 3vw;
    	font-size: 3vw;
		margin-top: 0px !important;
	}
	.registro-input{
		font-size: 2.8vw !important;
		padding: 1vw 2vw !important;
		margin-top: 2vw;
	}
	.registro-leyenda-contrasena{
		font-size: 2.2vw;
		line-height: 2.5vw;
		padding-top: 2vw;
	}
	.registro-boton-privacidad{
		margin-top: 2vw;
    	font-size: 2.5vw;
	}
	.popup{
		width: 60vw !important;
	}
	.popup-head{
		padding: 2vw 10px;
	}
	.popup-head >h3{
		font-size: 3vw;
	}
	.popup-body{
		font-size: 2.5vw;
    	line-height: 3vw;
	}
	
	.popup-buttons >.button , .popup-buttons >.button:active , .popup-buttons >.button:hover {
		line-height: 3vw;
		font-size: 3vw;
		padding: 1vw;
	}
	.registro-boton-reenviar{
		width: 40%;
		font-size: 2.5vw;
		position: relative;
		margin-left: 30%;
		margin-top: 2vw;
	}
	.loading{
		padding: 2vw !important;
    	max-width: 50vw;
	}
	.loading > span {
		font-size: 3vw;
	}
	.registro-datos-titulo.registro-final{
		display:none;
	}
	.registro-logo-container{
		height: calc( 100vh - 30vw);
   		margin-top: -16px;
	}
	.registro-datos-titulo.registro-bottom{
		font-size: 2.5vw;
   		margin-top: 1vw !important;
	}
	.registro-vista > ion-content > .registro-pie > .buttons-footer > button.final-center{
		margin: 1vw !important;
		width: 98vw;
		font-size: 2.5vw;
		height: 5vw !important;
		border-top: solid 0.5vw #505050 !important;
	}
	.barra-home{
		    height: 15vh !important;
	}
	.boton-menu::before {
    	font-size: 10vh !important;
	}
	.boton-menu{
	    height: 15vh !important;
		min-height: 15vh !important;
		max-height: 15vh !important;
		width: 15vh !important;
	}
	.icono-header{
		    padding: 1.5vw !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
	    width: 12vh !important;
	}
	.icono-header > div{
		width: 100% !important;
    	height: 100% !important;
	}
	.view-seccion > ion-content{
		top:15vh !important;
	}
	ion-header-bar {
		height: 15vh !important;
		max-height: 15vh !important;
		min-height: 15vh !important;
	}
	.menu-header-img-content {
		height: 15vh !important;
		width: 15vh !important;
	}
	.menu-header-title {
		padding-left: 17vh;
		height: 7vh;
		font-size: 5vh;
		padding-bottom: 0px;
		bottom: 6vh;
	}
	.menu-header-subtitle{
		padding-left: 17vh;
		height: 7vh;
		font-size: 4vh;
		padding-bottom: 0px;
		bottom: 0vh;
	}
	.has-header {
		top: 15vh !important;
	}
	.menu-list-item{
		height: 12vh;
		max-height: 12vh !important;
		font-size: 4.5vh;
		line-height: 4.5vh;
		padding-left: 12vh;
		padding-top: 3.5vh;
		padding-bottom: 3.5vh;
	}
	.menu-list-item-icon{
		font-size: 7vh !important;
   		line-height: 7vh;
	}
	.notificacion-item-contenido > img {
		height: 8vw !important;
    	right: 87vw !important;
	}
	.notificacion-item-contenido{
		padding-left: 13vw !important;
		padding-top: 2vw;
		padding-bottom: 0.5vw;
		min-height: 12vw !important;
		padding-right: 6vw !important;
	}
	.notificacion-item-contenido > h2 {
    font-size: 2.8vw;
	}
	.notificacion-item-contenido > p {
		font-size: 2.4vw;
	}
	.notificacion-item-fecha {
		font-size: 2vw !important;
		line-height: 2vw;
		margin-top: 0.5vw;
	}
	.notificacion-item-contenido > i {
		font-size: 5vw !important;
		height: 5vw !important;
		width: 3vw;
		left: 94vw !important;
	}
	.list-mensaje {
		font-size: 2.8vw;
	}
	.action-sheet-option, .action-sheet-destructive{
		font-size: 2.5vw !important;
	}
	.action-sheet-cancel , .action-sheet-cancel > button{
	 font-size: 2.5vw !important;
	}
	.action-sheet-title{
		font-size: 2.8vw;
	}
}
