@charset "utf-8";
/* CSS DocumentIPHONES */

@media (max-width: 320px){
.login-logo-container{
	height: 23vh;
	margin-top: 10vh;
}
.login-input-title{
    font-size: 5vh;
    margin-top: 4vh;
	line-height:5vh;
}
.login-input-container{
	margin-top:4vh;
}

.login-input-bg{
	width: 80%;
	margin-left: 10%;
	font-size: 2.5vh;
}
.login-input{
    font-size: 3.5vh !important;
    line-height: 5.3vh !important;
    height:5.3vh !important;
    
}
.login-input-icon{
	font-size: 3.5vh !important;
}
.login-enter-button-container{
	margin-top:5vh;
}
.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
	font-size:3.5vh;
	height: 6vh;
    line-height:6vh;
}
.buttons-footer > button{
	height: 7vh;
	font-size: 3.5vh;
    line-height:7vh;
}
.registro-vista-contenido{
	height: 66.5vh;
}
.contenedor-mapa-top-right ,.contenedor-mapa-top-right-more{
	width:8vh !important;
}
.boton-mapa-top-right{
	width:7vh !important;
	height:7vh !important;
}
.label-pie-radio{
    padding-left:1.5vh !important;
    font-weight:200 !important;
}
}
/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 

}
/*iphone 6+*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { 

}
/*ipad*/
@media (min-width: 767px){
    #infobox {
        font-size:2.3vh;
        line-height:2.5vh;
    }
    .nota_infobox{
        font-size:1.5vh;
        line-height:1.8vh;
    }
    .cerrar_info{
        height:3vh !important;
        width:3vh !important;
    }
	.texto_cuenta{
	font-size:2vh !important;
	
	}
}
@media (orientation: landscape) {
	.login-view > ion-content{
		bottom: 0px;
		padding:2vw !important
	}
	.login-logo-container{
		margin-top: 0px;
		height: 15vw;
		margin: 2vw;
	}
	
	.login-input-title{
		display:none;
	}
	.login-input-bg{
		width: 50%;
    	margin-left: 25%;
	}
	.login-input-icon{
		font-size: 2vw !important;
    	height: 2vw !important;
	}
	.login-input{
	    font-size: 2.5vw !important;
	}
	.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
		font-size: 2.5vw;
    	height: 4.5vw;
	}
	.login-view > .buttons-foote{
		position: relative;
    	top: 0px;
    	left: 0px;
	}
	.login-enter-button-container{
		margin-top: 3vw;
	}
	
	label.item-input{
		padding-left:1vw !important;
		padding-right:1vw !important;
	}
	.login-view > .buttons-footer > button , .registro-vista > ion-content > .registro-pie > .buttons-footer > button{
		margin: 1vw !important;
		width: 48vw;
		font-size: 2.5vw;
		height: 5vw !important;
		border-top: solid 0.5vw #505050 !important;
	}
	.buttons-footer{
		bottom:0px;
	}
	.registro-header{
		    height: 6vw;
	}
	.registro-header > .titulo{
		font-size: 4vw;
		line-height: 4vw;
		height: 4vw;
	}
	.registro-steps{
		height: 5vw;
	}
	.registro-steps > button{
		height: 5vw;
		width: 5vw;
		font-size: 3vw;
	}
	.registro-vista-contenido{
		height: calc( 100vh - 18vw);
	}
	.registro-datos-titulo{
	    line-height: 3vw;
    	font-size: 3vw;
	}
	.registro-input{
		font-size: 2.8vw !important;
		padding: 1vw 2vw !important;
		margin-top: 2vw;
	}
	.registro-leyenda-contrasena{
		font-size: 2.2vw;
		line-height: 2.5vw;
		padding-top: 2vw;
	}
	.registro-boton-privacidad{
		margin-top: 2vw;
    	font-size: 2.5vw;
	}
	
}
