/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
/*        LOGIN         */
.login-view{
	background: none;
}
.login-view > ion-content{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	bottom:10vh;
}
.login-logo-landscape{
	display:none;
}
.login-logo-container{
	height: 23vh;
    text-align: center;
	margin-top: 15vh;
}
.login-logo{
	display: inline;
	height: 100%;
}
.login-input-title{
    color: #059DB5;
    text-align: center;
    font-size: 4vh;
    margin-top: 6.5vh;
    line-height: 5vh;
}
.login-input-container{
	 margin-top: 2.5vh;
}

.login-input-bg{
	width: 80%;
	margin-left: 10%;
	font-size: 2.5vh;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	background: rgba(255,255,255,0.1);
	color: #A9A9A9;
	outline: none;
}
label.item-input{
padding-left:1vh !important;
padding-right:1vh !important;
}
.login-input{
    font-size: 2.5vh !important;
    color: #E7E7E7 !important;
    padding-left: 1vh !important;
    line-height: inherit !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: auto !important;
	padding-right: 0px !important;
    
}
.login-input-icon{
	font-size: 2.5vh !important;
	color: #E7E7E7 !important;
	padding-left: 1vh !important;
    line-height: 2.5vh !important;
	height:2.5vh !important;
    padding-top: 0px !important;
}
.login-enter-button-container{
	text-align:center;
	margin-top: 3vh;
}
.login-enter-button, .login-enter-button:active, .login-enter-button:hover{
	width: auto !important;
    font-size: 2.5vh;
    background: #059DB5;
    color: #161616;
    height: 4.5vh;
    min-height: 0px;
    line-height: inherit;
    border-radius: 5px !important;
	padding-left: 7vw;
    padding-right: 7vw;
}
.buttons-footer{
	width: 100vw;
    position: absolute;
    bottom: 1vw;
    left: 0px;
    height: auto;
    font-weight:100 !important;
}
.buttons-footer > button{
	   /* height: 5.5vh;
    font-size: 2.7vh;
    min-height: 0px;
    line-height: inherit;
	margin-top: 1vh !important;
    background: rgba(255, 255, 255, 0.6) !important;
    color: rgb(17, 17, 17) !important;
	margin-bottom:0px !important;*/
	min-height: 0px;
    height: 5.5vh;
    top: 0px;
    right: 0px;
    text-align: center;
    background: #3E3E3E !important;
    float: left;
    clear: initial;
    position: relative;
    border-radius: 1vw !important;
    margin: 1vw !important;
    margin-bottom: 0px !important;
    color: #D5D5D5 !important;
    line-height: initial;
    width: 98vw;
    font-size: 2.7vh;
    border-top: solid 0.5vh #505050 !important;
}
/*        REGISTRO         */
.registro-vista{
	background: #242424;
}
.registro-header{
	width: 100%;
    height: 9vh;
    position: relative;
    float: left;
	text-align: center;
	margin-bottom:1vh;
}
.registro-header > .titulo{
	color: #009FB5;
    font-size: 5vh;
    font-weight: 400;
    line-height: 5vh;
    height: 5vh;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
}
.registro-steps{
	width: 100vw;
    height: 9vh;
    position: relative;
    float: left;
}
.registro-steps > button{
	    width: 6vh;
    height: 6vh;
    border-radius: 100% !important;
    border:solid 2px #3E3E3E !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 4vh;
    font-weight: 700;
    line-height: 0px;
    padding: 0px;
    background:rgb(21, 21, 21);
    color: rgba(255, 255, 255, 0.28);
}
.registro-steps > button.stepActivo{
	background: #0493A7 !important;
    color: #E6E6E6;
    border: solid 2px #E6E6E6 !important;
}
.registro-steps > .barra{
	position: absolute;
    left: 11vw;
    right: 11vw;
    border-bottom: solid 3px;
    height: 50%;
    color: #4D4D4D;
}
.registro-vista-contenido{
	background-color: #242424 !important;
	position: relative;
    float: left;
    height: 69vh;
}
.registro-pie{
	width:100%;
	position: absolute;
    bottom:0px;
    height: auto;
}
.registro-input{
	position: relative;
    float: left;
    width: 100%;
    font-size: 2.8vh !important;
    height: auto !important;
    background: rgba(255, 255, 255, 0.12);
    color: #ECECEC !important;
    padding: 1vh 2vh !important;
    line-height: initial !important;
    margin-top: 2vh;
	border-radius: 5px !important;
}
/*          REGISTRO DATOS          */
.registro-datos-vista{
	background: #242424;
}
.registro-datos-titulo{
	position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    color: #ECECEC;
    line-height: 3vh;
    font-size: 3vh;
}
.registro-leyenda-contrasena{
	position: relative;
    float: left;
    width: 100%;
    text-align: center;
    color: #ECECEC;
    font-size: 2.5vh;
    line-height: 2.7vh;
    padding-top: 2vh;
    border-top: solid 1px #4E4E4E;
}
.registro-boton-privacidad{
	width: 100%;
    margin-top: 2vh;
    background: none;
    color: #868686;
    font-size: 3vh;
}
/*                 REGISTRO CODIGO          */
.registro-input.registro-codigo{
	width: 40%;
    position: relative;
    float: left;
    margin-left: 30%;
	margin-top:4vh;
	text-transform:uppercase;
	text-align:center;
}
.registro-boton-reenviar{
	width: 100%;
    margin-top: 2vh;
    background: none;
    color: #868686;
    font-size: 2.5vh;
}
.registro-logo-container{
	height: 23vh;
    text-align: center;
	margin-top: 0vh;
}
.registro-logo{
	height: 100%;
}
.registro-datos-titulo.registro-final{
	font-size: 3.5vh;
	    margin-top: 10vh;
	margin-bottom:0px;
}
.registro-datos-titulo.registro-bottom{
	margin-top:3vh;
	opacity: 0.6;

}
/*           RECUPERAR CONTRASEÑA          */
.recuperar{
	    float: left;
}
/*                  HOME                      */
.content-mapa{
	top:0px
}
.boton-menu{
    width: 10vw !important;
    height: 10vh !important;
	min-width: 0px !important;
    max-width: 100vh !important;
    min-height: 10vh !important;
    max-height: 10vh !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
}
.boton-menu::after{
	display:none !important;
}
.boton-menu::before{
	font-size: 6vh !important;
}
ion-header-bar > .title{
	display:none !important;
}
ion-side-menu{
	width:80vw;
}
.animate-enter{
	opacity:0;
}
.animate-enter-up{
	opacity:0;
	top:0px;
	-webkit-transform: translate3d(0, -10vh, 0);
}
.contenido-home{
	top:0vh !important;
}
.barra-home{
	height:10vh !important;
	background:#171717;
	display: block;
    padding:0px !important;
    z-index:1000 !important;
}

.logo-menu{
	width: auto;
    height: 100%;
    max-height: 1000px;
    max-width: 1000px;
    padding: 0px;
    background: 0px;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
	float:left;
    margin-top:0px !important;
    margin-bottom:0px !important;
}
.nav-bar-block > ion-header-bar{
	top:-10vh;
}
ion-side-menu-content{
	background:#242424 !important
}
.gm-style{
	top: 0vh !important;
    bottom: 0vh !important;
    height:100vh !important;
}
/*.boton-mapa-top-right{
	margin-right:0px;
	margin-top:1vh;
	background:#fff;
	width:6vh;
	height:6vh;
	padding: 0.8vh;
    border-radius: 100% !important;
    background: #059DB5;
	-webkit-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    opacity: 0.8;
	position:relative;
}*/
.boton-mapa-top-right{
	margin-right: 0px;
    margin-top: 1vh;
    background: #fff;
    width: 6vh;
    height: 6vh;
    padding: 0.8vh;
    border-radius: 100% !important;
    background: #059DB5;
    -webkit-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    opacity: 1;
    position: relative;
	font-size: 4.5vh;
    line-height: 4.5vh;
}

.boton-mapa-top-right.dead, .boton-mapa-top-right.dead2{
	margin-right: 0px;
    margin-top: 1vh;
    background: #fff;
    width: 6vh;
    height: 6vh;
    padding: 0.8vh;
    border-radius: 100% !important;
    background: #059DB5;
    -webkit-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    opacity: 1;
    top: 0px;
}
.boton-mapa-top-right.options{
	margin-right: 0px;
    margin-top: 1vh;
    background: #fff;
    width: 6vh;
    height: 6vh;
    padding: 0.8vh;
    border-radius: 100% !important;
    background: #059DB5;
    -webkit-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    opacity: 1;
    top: 0px;
}
.boton-mapa-top-right.activo{
	margin-right: 0px;
    margin-top: 1vh;
    background: #171717;
    width: 6vh;
    height: 6vh;
    padding: 0.8vh;
    border-radius: 100% !important;
    -webkit-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    opacity: 1;
    top: 0px;
}
.boton-mapa-top-right.activo>img{
    background: #059DB5;
}
.boton-mapa-top-left{
	margin-right:0px;
	margin-top:1vh;
	background:#fff;
	width:6vh;
	height:6vh;
	padding: 0.8vh;
    border-radius: 100% !important;
    background: #059DB5;
	-webkit-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    opacity: 0.8;
	position:relative;
}

.boton-mapa-top-right.activated{
	opacity:1;
}
.img-boton-mapa-top-right{
	background-color: #191919;
    width:100%;
	height:100%;
    -webkit-mask-size: cover;
}
/*.boton-mapa-top-right.options{
    font-size: 4.5vh;
    line-height: 4.5vh;
	float: right;
}*/
.contenedor-mapa-top-right{
	width: 7vh;
    top:10vh !important;
    height: 0px;
	opacity:1 !important;
	right:1vh;
    display:block !important;
	position:fixed !important;
	text-align: right;
	opacity:0.8 !important;
}
.boton-mapa-top-right.dead{
	transform:translate3d(10vh,0,0)
}
.auto-id{
	width: 7vh;
    top:10vh !important;
    height: auto;
	opacity:1 !important;
    display:block !important;
	position:fixed !important;
	 text-align: right;
	 opacity:0.8 !important;
	right:1vh;
}
.contenedor-mapa-top-right.more{
	right:1vh !important;
    opacity:1 ;
}
.contenedor-mapa-top-left{
	width: 6vh;
    top:10vh !important;
    height: auto !important;
    overflow: visible;
	opacity:1 !important;
	left:1vh !important;
    display:block !important;
	position:fixed !important;
}
.contenedor-mapa-controls{
    width: 6vh;
    top:10vh !important;
    height: auto;
    opacity:1 !important;
    right:1vh !important;
    display:block !important;
    position:fixed !important;
}
.contenedor-mapa-top-center{
	height: auto;
    opacity: 1 !important;
    position: absolute !important;
    display: block !important;
    top: 11vh !important;
    left: 5vh !important;
    right: 5vh;
    background: #F7F7F7;
    padding: 1vh;
    border-radius: 5px;
    font-size: 2.5vh;
    border: solid 2px #C2BFBF;
    text-align: center;
	line-height: 3vh;
}
.contenedor-mapa-auto{
	position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100vw;
}
.boton-auto-aceptar{
	 position: relative;
    width: 102%;
    left: -1%;
    height: 7vh;
    background: rgba(23, 23, 23, 0.91);
    color: #F7F7F7;
    font-size: 3vh;
}
.contenedor-mapa-bottom-center{
	width: 100vw;
    height: auto;
	opacity:1 !important;
	position: absolute !important;
    display:block !important;
    border:none !important;
    bottom:0px !important;
	left: 0px !important;
}
.contenedor-mapa-pie{
	background:rgba(23, 23, 23, 0.91);
	height:auto;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -5px 6px -2px;
	    position: relative;
    float: left;
    width: 100%;
    border:none !important;
}
.contenedor-mapa-pie > .parte1, .parte2{
	height:7vh;
    float: left;
    width: 100%;
	padding:1vh;
	    position: relative;
}
.tapa-parte2{
	height:100%;
    left:0px;
	bottom:0px;
    width: 100%;
	padding:1vh;
	position: absolute;
	background: rgba(40, 40, 40, 0.89);
    z-index: 10;
		
}
.toggle-mapa-pie{
	height: 100%;
    padding: 0px;
    margin: 0px;
	position: relative;
    float: left;
}
.toggle-mapa-pie>.track{
	height: 100%;
	width:9vh;
	background:#606060;
}
.toggle-mapa-pie > .track > .handle{
	height: 100%;
    top: 0px;
	left: 0px;
	width:5vh;
	background:#BFBFBF;
	
}
.label-pie-radio{
	position: absolute;
    top: 0px;
    left: 10vh;
    right: 0px;
    width: calc( 100vw - 10vh);
    text-align: left;
    font-size: 4vh;
    color: #fff;
    font-weight: 200;
    height: 100%;
    background: none;
    line-height: 4vh;
}
.toggle-mapa-pie input:checked + .track .handle {
    -webkit-transform: translate3d(4vh, 0, 0);
    transform: translate3d(4vh, 0, 0);
    background-color: #E1E1E1;
}
.toggle input:checked + .track {
    border-color: #E1E1E1;
    background-color: #059DB5;
}
.rango-radio{
	border: none;
    height: 100%;
    padding: 0px;
	color:#E1E1E1;
}
.rango-radio > input{
	    height: 100%;
    margin: 0px;
}
.range input::-webkit-slider-thumb {
	height:4.5vh !important;
	width:4.5vh !important;
	min-height:0px;
	max-height:4.5vh;
	 background-color: #E1E1E1;
}
 .range input::-webkit-slider-thumb:before {
	  top: 1.8vh;
	   height:1vh;
    background: #059DB5;
 }
 .range input{
 background-size: 99% 1vh;
 }
.rango-radio > i{
    font-size: 4vh !important;
 }
.location.loading{
    -webkit-animation-name: location-intermitent;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name:location-intermitent;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.location.loading > img{
    background:#E1E1E1;
}

@-webkit-keyframes location-intermitent {
    0%   {background-color:#059DB5}
    50%  {background-color:#005B6E}
	100%  {background-color:#059DB5}
}

@keyframes location-intermitent {
    0%   {background-color:#059DB5}
    50%  {background-color:#005B6E}
	100%  {background-color:#059DB5}
}
.google-map img {
    max-width: none;
}
/*              MENU                 */
.menu-content{
	background: #252525;
}
.menu-header-img-content{
	position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    height: 10vh !important;
    width: 10vh !important;
    padding: 1vh !important;
	text-align: right !important;
	margin:0px  !important;
}
.menu-header-title{
	position: absolute;
    width: 100%;
    padding-left: 11vh;
    text-align: left;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 4vh;
    color: #FAF9F9;
    font-size: 3vh;
    padding-bottom: 0px;
    bottom: 5vh;
}
.menu-header-subtitle{
	position: absolute;
    width: 100%;
    padding-left: 11vh;
    text-align: left;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 4vh;
    color: #FAF9F9;
    bottom: 1vh;
    font-size: 2.5vh;
    padding-top: 0px;
}
.menu-list-item{
	color: #FAF9F9;
    height: 8vh;
    border-bottom: solid 1px #333 !important;
    min-height: 8vh !important;
    max-height: 8vh !important;
    font-size: 2.5vh;
    padding-top: 2.7vh;
    padding-bottom: 2.7vh;
    line-height: 2.5vh;
    padding-left: 8vh;
}
.menu-list-item-icon{
	/*left: 1vh;
    width: 5vh;
    height: 5vh;
    top: 1vh;
    background: #fff;
    border-radius: 100%;
    color: #EAEAEA;
    font-size: 4vh;
    padding: 0.5vh;
	/*border: solid 0.5vh #087F91;*/
	left: 0px !important;
    width: 8vh !important;
    font-size: 4vh !important;
    padding: 2vh !important;
}
/*.gmnoprint{
 opacity: 1 !important;
}*/
.ubicacionMarker{
	width:20px;
	height:20px;
	margin-top:10px;
	position:relative;
	border-radius:100%;
	background:#03C0DE;
	border:solid 2px #fff
}
.ubicacionMarker.desconectado{
	background:rgb(90, 90, 90);
}
.ubicacionMarker > img{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	position:absolute;
	opacity: 1;
}
.mapa-descripcion-evento-contenedor{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:auto;
	background:#F5F5F5;
	padding-top: 5vh;
    border-top: solid 1vh #059DB5;
	padding-bottom:5vh;
	padding-left:3vh;
	padding-right:3vh;
	transform:translate3d(0,100vh,0);
}
.mapa-descripcion-evento-icono{
	    width: 10vh;
    height: 10vh;
    border-radius: 100% !important;
    padding: 1vh !important;
    background: #F5F5F5;
    border: solid 1vh #059DB5 !important;
    top: -6vh;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
	
}
.mapa-descripcion-evento-icono > img{
	position:relative;
}
.mapa-descripcion-evento-titulo{
	font-size: 3.5vh;
}
.mapa-descripcion-evento-subtitulo{
	font-size: 3vh;
    color: #5C5C5C;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    margin-top: 1vh;
    border-bottom: solid 1px #D6D6D6;
}
.mapa-descripcion-evento-texto{
	font-size: 3vh;
	margin-bottom:0.5vh;
}
.mapa-descripcion-evento-cover{
	    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(6, 6, 6, 0.65);
	opacity: 0;
}
.mapa-descripcion-evento{
	position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    bottom: 0px;
    z-index: 10000000000;
}
.mapa-descripcion-evento-close{
	position:absolute;
	top:0px;
	right:0px;
	background: none;
    padding: 2vh;
	
}
.mapa-search{
	position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
	display:none;
    bottom: 0px;
    z-index: 10000000000;
	background:rgba(6, 6, 6, 0.96);
}
.mapa-search-input-contenedor{
    position: absolute;
    top: 12vh;
    left: 2vh;
    right: 2vh;
    height: 7vh;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 3px;
}
.mapa-search-input{
	    background: none !important;
    border: none !important;
    height: 100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: 10px !important;
    width: calc( 100vw - 11vh) !important;
    padding: 1vh !important;
    padding-left: 2vh !important;
    font-size: 3vh !important;
        line-height: normal !important;
	color:#222 !important;
}
.mapa-search-cancelar{
	background: none;
    position: absolute;
    right: 0px;
    height: 7vh;
    width: 7vh;
}
.mapa-search-cancelar > i{
	font-size:3vh;
}
.mapa-search-mensaje{
    position: absolute;
    top: 21vh;
    width: 100%;
    left: 0px;
    text-align: center;
    color: #DFDFDF;
    font-size: 3vh;
}
.mapa-search-cargando{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
    color: #DFDFDF;
    font-size: 3vh;
    margin: auto;
    height: 25px;
}
.mapa-search-resultados-contenedor{
	position: absolute !important;
  top: 21vh !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0vh !important;
  padding-left:1vh;
  padding-right:1vh;
}
.mapa-search-resultados-lista{
	height:100%;
}
.mapa-search-resultados-item{
	background:rgba(255, 255, 255, 0.08);
	padding-left:20vw;
	    padding-right: 15vw;
	    padding-top: 2vh;
    padding-bottom: 2vh;
}
.mapa-search-resultados-item > img{
	max-width: 9vh !important;
    max-height: 9vh !important;
    top: 0vh !important;
    bottom: 0vh !important;
    left: 0vh !important;
    right: calc(80vw - 2vh);
    margin: auto;
    -webkit-mask-size: 70%;
    background: #059DB5;
    border-radius: 0px !important;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50%;
}
.mapa-search-resultados-item > div{
	position: absolute;
    right: 0px;
    width: 15vw;
    height: 10vh;
    top: 0px;
    bottom: 0px;
    margin: auto;
    padding: 1vh;
    text-align: center;
    padding-top: 7vh;
    color: #BEBEBE;
    border-left: solid 1px #3A3A3A;
}
.mapa-search-resultados-item > div > i{
	font-size: 5vh !important;
    height: 5vh !important;
    left: 0px;
    right: 0px !important;
    margin: auto;
    width: 5vh;
	top: 1vh !important;
	color: #059DB5;
}
.mapa-search-resultados-item > h2{
	color: #fff;
    font-size: 3vh;
}
.mapa-search-resultados-item > p{
	color: #059DB5;
    font-size: 2.5vh;
	white-space: initial;


}
.mapa-descripcion-evento-rating{
	
	text-align: center;
    font-size: 3.5vh;
    color: #777777;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    border-bottom: solid 1px #D6D6D6;
}
.mapa-descripcion-evento-backimg{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	-webkit-mask-position:center;
	-webkit-mask-size:cover;
}
.notificacion-item-contenido{
	padding-left: 13vh !important;
    padding-top: 2vh;
    padding-bottom: 0.5vh;
    min-height: 12vh !important;
    border-bottom: solid 2px rgb(32, 32, 32) !important;
	padding-right: 6vh !important;
}
.notificacion-item-contenido > img{
	width: auto !important;
	height: 8vh !important;
    min-width: 0px;
    min-height: 0px;
    max-width: 100vh !important;
    max-height: 100vh !important;
    position: absolute !important;
    top: 0px !important;
    bottom: 0px;
    margin: auto;
    left: 0px !important;
    right: calc( 100vw - 13vh) !important;
	border-radius: 0px !important;
}
.icon-directorio{
	    
    -webkit-mask-size: 90% !important;
    background: #C5C5C5 !important;
    -webkit-mask-repeat: no-repeat !important;
}
.notificacion-item-contenido > h2{
	    color: #E8E8E8;
    font-size: 2.8vh;
	    font-weight: 300;
}
.notificacion-item-contenido > p{
	    white-space: initial;
    color: #B1B7B8;
    font-size: 2.4vh;
	    font-weight: 300;
}
.notificacion-item-contenido > i{
	    color: #A1A1A1;
    position: absolute;
    font-size: 5vh !important;
    height: 5vh !important;
    width: 3vh;
    top: 0px !important;
    bottom: 0px !important;
    margin: auto;
    right: 0px !important;
    left: calc(100vw - 6vh) !important;
}
.notificacion-item-fecha{
	    font-size: 2vh !important;
    line-height: 2vh;
    text-align: right;
    margin-top: 0.5vh;
	    font-weight: 100;
	
}
.letra-periodo{
	position: absolute;
    top: 0px;
    font-size: 3vh !important;
    font-weight: 800;
    text-align: center;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 3.5vh;
    margin: auto;
    color: rgba(0, 0, 0, 0.82);
}
.mapa-socket-indicador{
	position: absolute;
    top: 11vh;
    height: 6vh;
    width: 6vh;
    padding: 0px;
    background: rgba(99, 99, 99, 0.88);
    border-radius: 8px !important;
    left: 0px;
    right: 0px;
    margin: auto;
    -webkit-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 6px -2px rgba(0,0,0,0.2);
    color: rgba(255, 255, 255, 0.88);
    font-size: 2.5vh;
}
.mapa-socket-indicador > img{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.69);
    -webkit-mask-position: center;
    -webkit-mask-size: 80%;
    -webkit-mask-repeat: no-repeat;
    margin-right: 1vh;
}
.modal-view-filtros{
	padding: 3vh;
	background: none;
}

.modal-view-filtros > ion-header-bar{
position: relative;
    height: 8vh !important;
    min-height: 0px !important;
    border-radius: 1vh 1vh 0px 0px;
	background: rgb(37, 36, 36) !important;
}
.modal-view-filtros > ion-header-bar > h1{
display: block !important;
    height: 100% !important;
    top:0px !important;
        line-height: 8vh !important;
    font-size: 3.5vh !important;
    color: #059DB5 !important;
    font-weight: 200 !important;
    margin-top:0px !important;
}
.modal-view-filtros > ion-header-bar > div{
	height: 5vh;
    position: absolute;
    top: 0px !important;
    bottom: 0px !important;
    margin: auto !important;
    left: 2vh;
}
.modal-view-filtros > ion-content{
    background: #393939;
    position: relative;
    width: 100%;
    height: 78vh;
    float: left;
    top: 0px !important;
    padding: 0vh;
    border-bottom: solid 0.5vh #474747;
}
.modal-view-filtros > ion-footer-bar{
    position: relative;
    width: 100%;
    background: #393939;
    height: 8vh;
    border-radius: 0px 0px 1vh 1vh;
	padding:1vh;
}
.modal-view-filtros > ion-footer-bar > button{
	width: 100%;
    border-radius: 0.5vh !important;
    font-size: 2.8vh;
    background: #BDBDBD;
    color: #252424;
	font-weight: 500 !important;
}
.auto-evento{
	padding-left: 8vh !important;
    padding-right: 2vh !important;
	border-bottom: solid 2px rgb(49, 49, 49) !important;
}
.auto-escala{
	width: 100%;
    height: 8vh;
    background: #047A8D;
    font-size: 4vh;
    color: #fff;
    font-weight: bold;
}
.auto-label{
	height: auto;
    min-height: 0px !important;
    border: none !important;
    padding: 2vh !important;
    text-align: center !important;
}
.auto-escala>span{
	    font-weight: 200;
    font-size: 3vh;
}
.auto-intro{
	height: 10vh;
    background: none;
    text-align: center;
    color: #E2E2E2;
    font-size: 2.5vh;
    font-weight: 200;
    line-height: 2.7vh;
    position: absolute;
    bottom: 1vh;
    left: 0px;
    margin-left: 2vh;
    margin-right: 2vh;
	
}
.auto-header{
	height: 18vh !important;
    max-height: 18vh !important;
    box-shadow: none !important;
    border-bottom: solid 0.5vh #0F7383 !important;
    background: #393939 !important;
}
.auto-titulo{
	position: relative;
    float: left;
    left: 0px !important;
    right: 0px !important;
}
.auto-evento > img{
    left: 0px !important;
    right: calc( 100vw - 14vh) !important;
    height: 7vh !important;
}
.modal-backdrop-bg{
	/*background: rgba(0, 0, 0, 0.78);*/
    background: rgba(150, 150, 150, 0.48);
}
.filtros-tabs-fecha{
	position: relative;
    float: left;
    width: 50%;
    background: #3D3D3D;
    border-bottom: solid 0.5vh #303030 !important;
	 border-top: solid 0.5vh #303030 !important;
    font-size: 2.8vh;
    padding: 1vh;
    color: #DCDBDB;
}
.filtros-eventos-item{
	    position: relative;
    float: left;
    width: 20%;
    height: auto;
    padding: 1vh;
    border-right: solid 0.5vh #424242;
    border-top: solid 0.5vh #424242;
}
.filtros-eventos-item:not(.activo)>img,.filtros-eventos-item:not(.activo)>p{
	opacity:0.2;
}
.filtros-eventos-item>img{
	width: 100%;
    height: auto;
	opacity: 0.8;
}
.filtros-eventos-item>p{
	width: 100%;
    text-align: center;
    margin-bottom: 0px;
    color: #D4D3D3;
    font-size: 2vh;
    height: 2.5vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.filtros-tabs-fecha.activo{
	border-bottom: solid 2px #059DB5 !important;
}
.filtros-fecha-boton{
	width: 100%;
    height: 100%;
    opacity: 0;
}
.filtros-fecha-periodo{
	position: absolute;
    top: 0px;
    width: 100%;
    padding: 0px;
    height: 12vh;
	    z-index: 2;
}
ionic-datepicker{
	position: absolute;
    top: 0px;
    width: 100%;
    padding: 0px;
    height: 6vh;
	    z-index: 2;
}
.filtros-fechas-contenedor{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}
.filtros-fechas-item{
	padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 8vh;
    padding-right: 3vh;
    height: 6vh;
    min-height: 0px !important;
    font-size: 2.8vh;
    line-height: 4vh;
    font-weight: 200;
	color: rgb(212, 211, 211);
	border-bottom: solid 0.5vh #424242 !important;
}
.filtros-estados-item{
	padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 7vh;
    height: 6vh;
    min-height: 0px !important;
    font-size: 2.8vh;
    line-height: 4vh;
    font-weight: 200;
    color: rgb(212, 211, 211);
    border-bottom: solid 0.5vh #424242 !important;
}
.lista-estados{
	position: relative;
    float: left;
    width: 100%;
    overflow: auto;
}
.filtros-fechas-item>i{
	    font-size: 4vh !important;
    left: 0px !important;
    right: calc( 100vw - 14vh );
    height: 4vh !important;
    margin: auto;
    width: 4vh;
    top: 0px !important;
    bottom: 0px;
}
.lista-estados-container{
	position: relative;
    height: 20vh;
    width: 100%;
    float: left;
}
.filtros-cover{
	    position: absolute;
    top: 11vh;
    bottom: 0px;
    left: 3vh;
    right: 3vh;
    background: rgba(50, 50, 50, 0.89);
    height: 78vh;
    z-index: 50000;
}
.filtros-estados-item>i{
	font-size: 3vh !important;
    right: 2vh !important;
    height: 3vh !important;
    margin: auto;
    width: 3vh;
    top: 0px !important;
    bottom: 0px;
}
.filtros-fechas-item>span{
    font-size: 2.5vh;
    color: rgb(212, 211, 211);
}
.modal-view-llamada{
	background:rgb(37, 36, 36) !important
}
.modal-view-llamada>.llamada-titulo{
	    position: relative;
    width: 100%;
    height: 10vh;
}
.modal-view-llamada>.llamada-titulo > img{
	height: 100%;
    padding: 1.3vh;
    padding-left: 3vh;
}
.modal-view-llamada>.llamada-titulo > h{
	position: absolute;
    top: 0px;
    width: 100%;
    right: 0px;
    height: 100%;
    text-align: right;
    padding: 3vh;
    padding-right: 3vh;
    font-size: 3.5vh;
    text-transform: uppercase;
    font-weight: 400;
    color: #058B9E;
}
.modal-view-llamada>.llamada-contacto{
	position: relative;
    width: 100%;
    height: 11vh;
    background: #353535;
    font-size: 4vh;
    padding: 3.5vh;
    color: #D5D5D5;
    padding-left: 8vh;
}
.modal-view-llamada>.llamada-contacto > i{
	color: #008294;
    margin-right: 2vh;
    position: absolute;
    left: 3vh;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: 4vh;
}
.modal-view-llamada>.llamada-imagen{
	position: relative;
    float: left;
    width: 100%;
    height: 35vh;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.modal-view-llamada>.llamada-imagen>img{
	height: 35vh;
}
.modal-view-llamada>.llamada-tiempo{
	font-size: 4vh;
    color: #DBDBDB;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
	margin-bottom:5vh;
}
.llamada-contenedor-boton-circular{
	position: relative;
    float: left;
    width: 50%;
    height: 11vh;
    text-align: center;
}
.llamada-contenedor-boton-circular>button{
	    height: 11vh;
    width: 11vh;
    border-radius: 100% !important;
    font-size: 6vh;
    color: #C1C1C1;
    background: #686868;
}
.llamada-contenedor-boton-circular.activo>button{
    color: #252424;
    background: #059EB7;
}
.rotate:before{
  -webkit-transform:rotate(136deg);
}
.llamada-boton-colgar{
	    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 12vh;
    background: #E6E4E4;
    left: 0px;
}
.llamada-boton-colgar>i{
	    font-size: 7vh;
    color: #3E3E3E;
    
}
.llamada-contenedor-boton-circular-contestar{
	position: relative;
    float: left;
    width: 50%;
    height: 15vh;
    text-align: left;
    margin-top: 4vh;
    padding-left: 4vh;
    padding-right: 4vh;
}
.llamada-contenedor-boton-circular-contestar>button{
	    height: 15vh;
    border: solid 0.7vh #676767 !important;
    width: 15vh;
    border-radius: 100% !important;
    font-size: 6vh;
    color: #3E3E3E;
    background: #E6E4E4;
}
.llamada-contenedor-boton-circular-contestar.activo{
	text-align: right;
}
.llamada-contenedor-boton-circular-contestar.activo>button{
    color: #028296;
    background: #E6E4E4;
    border: solid 0.7vh #028296 !important;
}
.animate-enter-up.animate{
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-name: animate-enter-up;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@keyframes animate-enter-up {
   from {opacity: 0;
   -webkit-transform: translate3d(0, -10vh, 0);
   }
   to {opacity: 1;
   -webkit-transform: translate3d(0, 0vh, 0);
   }
}
.pane{
	background-color: #242424 !important;
}
.contacto-item-contenido{
	padding-left: 10vh !important;
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-height: 1vh !important;
    border-bottom: solid 2px rgb(32, 32, 32) !important;
    padding-right: 6vh !important;
}
.contacto-item-contenido > div{
	width: 6vh !important;
    height: 8vh !important;
    min-width: 0px;
    min-height: 0px;
    max-width: 100vh !important;
    max-height: 100vh !important;
    position: absolute !important;
    top: 0px !important;
    bottom: 0px;
    margin: auto;
    left: 0px !important;
    right: calc( 100vw - 10vh) !important;
    border-radius: 0px !important;
	background:#D8D8D8;
	-webkit-mask-image: url(../img/iconos/contacto.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
	}
.contacto-item-contenido > h2{
	    color: #E8E8E8;
    font-size: 2.8vh;
	    font-weight: 300;
}
.contacto-item-contenido > p{
	    white-space: initial;
   color: #059DB5;
    font-size: 2.4vh;
	    font-weight: 300;
}
.contacto-item-contenido > i{
	    color: #A1A1A1;
    position: absolute;
    font-size: 5vh !important;
    height: 5vh !important;
    width: 3vh;
    top: 0px !important;
    bottom: 0px !important;
    margin: auto;
    right: 0px !important;
    left: calc(100vw - 6vh) !important;
}
.contactos-agrega-contacto{
	position: absolute;
    bottom: 2vh;
    right: 2vh;
    width: 9vh;
    height: 9vh;
    border-radius: 100% !important;
    background: #D0CFCF;
    font-size: 5vh;
    color: #242424;
	min-width: 9vh;
    min-height: 9vh;
    max-width: 9vh;
    max-height: 9vh;
	padding: 0px !important;
    text-align: center;
}
.contactos-agrega-contacto>i{
	    margin: 0 !important;
    padding: 0 !important;
}
.lista-contactos{
	padding-bottom: 10vh;
}
.mapa-descripcion-evento-rating.uber>button{
	padding: 1vh 7vh;
    background: #353535;
    color: #fff;
    font-size: 3vh;
    border-radius: 5px !important;
    margin-top: 2vh;
}
.mapa-descripcion-evento-rating.uber>button>img{
	    width: 4vh;
    position: absolute;
    top: 1vh;
    left: 1vh;
	opacity: 0.9;
}
.mapa-descripcion-evento-rating.uber{
}
